[2016-04-08 02:57] jacobwgillespie opened #4 "Webfonts not rendering"
I attempted to convert the following into a PDF: https://gist.github.com/jacobwgillespie/de11f4100154042b8b8d615230594acd.

This is the resulting PDF: [resume.pdf](https://github.com/arachnys/athenapdf/files/209573/resume.pdf), and it looks like it's missing the webfonts from the stylesheet.

[2016-04-08 04:02] zohararad opened #5 "Proxy Support"
AthenaPDF looks amazing! Can't wait to give it a try, but need to fetch HTML remotely via proxy. Any planned support for this?

[2016-04-08 08:12] sum1190 opened #6 "Support for page with authentication"
Hi,

very great project! Is there a support for authentication (or session) on web page that require username/password?

Thanks :)

[2016-04-08 09:58] MrSaints commented on #4
@jacobwgillespie thanks for reporting the issue.

I've tried it on my side, and it seems to be caused by FOIT (flash of invisible text). It saved fine on the second attempt, although I know, this is not ideal.

There's an option to increase the _delay_ before saving (it's `-D` or `--delay`). It's set to 200ms by default, but I think if you raise it to 300ms, it should address similar problems in t

[2016-04-08 10:45] MrSaints commented on #6
Hey @sum1190, thank you. We're glad you like it.

It should be able to support basic auth.

Have you tried converting with the following syntax `http://user:pass@website.com` ?

[2016-04-08 16:24] jacobwgillespie commented on #4
Cool, thanks!

[2016-04-08 16:43] MrSaints commented on #5
Hey @zohararad, thank you.

Unfortunately, we do not currently have any plans for it, but I think it's worth considering / adding.

[2016-04-08 20:58] zohararad commented on #5
@MrSaints glad to hear it. Was trying to figure out where exactly in the code such enhancement should go. If you point me in the right direction, I might be able to add it in the coming week or so

[2016-04-09 09:40] sum1190 commented on #6
Unfortunately not, the page that I was testing is from a private project written in PHP with the Yii2 framework, and the method that you've tell to me doesn't work :/

[2016-04-09 13:17] rcrowe opened #9 "Allow weaver to change Athena cmd at runtime - Page orientation"
Currently the athena command is set in the the config file with `WEAVER_ATHENA_CMD`, but this means the command is fixed.

I need to be able to change page orientation & likely other options as parameters to weaver, just like you can with the auth & s3 credentials.

Is this already possible & I've just missed it, or likely something that you would be willing to add?

Thanks for your work on this,

[2016-04-11 21:42] bsssshhhhhhh opened #13 "Pipe HTML directly via stdin instead of local file or remote URL"
Hi, I really like how this looks so far, but I've come across a rather major limitation that prevents easy integration for me: Athenapdf cannot load HTML directly from stdin.

Currently Athenapdf only supports loading local files and remote files via http. I want to skip the whole 'file' part and just pipe the HTML source directly into Athenapdf. wkhtmltopdf supports this through the use of `-` as

[2016-04-12 10:30] MrSaints commented on #13
Hey @bsssshhhhhhh, thank you for raising this.

I'm personally supportive of this feature :+1:, and I'll be sure to prioritise it.

Meanwhile, if anyone would like to start on it, and raise a PR, I'm more than happy to look into it.

[2016-04-12 10:59] MrSaints commented on #5
Apologies for the tardy response @zohararad.

I do believe it can be implemented through Electron's [`session`](https://github.com/electron/electron/blob/master/docs/api/session.md) module. Either that, or through Chrome's [command line switches](https://github.com/electron/electron/blob/master/docs/api/chrome-command-line-switches.md#--proxy-serveraddressport).

[2016-04-12 11:05] zohararad commented on #5
@MrSaints no worries. Looks like a good direction. Any chance of pointing me to the right place in athenapdf codebase where Electron is used? Will save me a bit of time looking.

[2016-04-12 11:12] MrSaints commented on #5
@zohararad https://github.com/arachnys/athenapdf/blob/master/cli/src/athenapdf.js, it's a bit of a procedural mess ATM, but do bug me if you have any questions.

[2016-04-12 11:26] zohararad commented on #5
Great... looking at it now. Thanks!

[2016-04-12 11:35] MrSaints commented on #9
@rcrowe, it is not currently possible, but we do have plans for supporting it (after we figure out what's the best way to achieve it without bloating our source).

Thank you for your kind words, and we're glad you like it! :smile:

[2016-04-13 16:40] bsssshhhhhhh commented on #13
Did a lot of digging to find the cause of this. It's a bug in how Node handle's reading non-standard files (e.g. `/dev/stdin`). Unexpected behavior regarding stdin in Node been the topic of some discussion [here](https://github.com/nodejs/node-v0.x-archive/issues/7412) and various other places.

Someone wrote a [wrapper library](https://github.com/mbostock/rw) around Node's `fs` library that handl

[2016-04-14 03:56] douglasmiranda opened #16 "Table of Contents"
Would be awesome if we could generate a table of contents based on h1 - h6.

Ebooks. :D

(Currently I managed to achieve this only by compiling wkhtmltopdf or using the great, but EXPENSIVE PrinceXML)

[2016-04-14 09:24] MrSaints commented on #16
@douglasmiranda thanks for your request.

How is this currently done in `wkhtmltopdf`? Are you able to change the entire ToC template or are you only able to modify styles? What would you prefer?

[2016-04-14 17:38] douglasmiranda commented on #16
Actually I don't even remember, it generates some xml..

http://wkhtmltopdf.org/usage/wkhtmltopdf.txt
http://www.princexml.com/doc/paged/

In both we can customize, but prince is better, we don't need xml file or stuff. We can, for example, just print every title linked to the respective title tags. And customize with some css.

[code]

I need to do some research on how they generate those outline

[2016-04-14 17:54] dbuxton commented on #16
@MrSaints how hard would it be to just inject some JavaScript to build the ToC in Electron?

[2016-04-14 17:57] MrSaints commented on #16
@douglasmiranda: Well, cross-referencing is supported in Athena (using page anchors). It's also pretty easy to create page breaks using the `page-break-before` CSS property (see https://gist.github.com/MrSaints/cc40127b54298910a6a8).

In theory, you can already create your own ToC, but if we want to create a built-in "plugin" it shouldn't be too hard (although, generating page numbers will probabl

[2016-04-15 02:04] jacobwgillespie commented on #4
It seems this still may be an issue - I ran it with `-D 5000` just to be certain.  Fonts are now showing up, but it doesn't look like the webfonts are being picked up.

Here's from Athena: [resume.pdf](https://github.com/arachnys/athenapdf/files/220215/resume.pdf)

And here's from wkhtmltopdf: [resume.pdf](https://github.com/arachnys/athenapdf/files/220219/resume.pdf)

[2016-04-15 02:41] douglasmiranda commented on #16
I see, the page numbering seems difficult. Yes, It seems I'm wrong about wkhtmltopdf. I probably should play more with Electron.

[2016-04-15 09:10] MrSaints commented on #4
Interesting, it appears to be working on my side.

Can you try a `docker pull arachnysdocker/athenapdf` ?

[295118aa7843e73ee4bd74c1c69547c1c1d24eee.pdf](https://github.com/arachnys/athenapdf/files/220623/295118aa7843e73ee4bd74c1c69547c1c1d24eee.pdf)

[2016-04-15 17:25] jacobwgillespie commented on #4
Yep, that fixed it - I was sure I updated but apparently I hadn't.  It works now even without the delay flag.  Thanks!

[2016-04-15 17:25] #4 closed

[2016-04-18 12:53] MrSaints commented on #6
Apologies for the late response @sum1190.

Ah I see. It's not a basic auth. In that case, we do not currently support it.

We can however, add the ability for the _converter_ to run using a custom cookie jar (session) if that helps. Otherwise, I'd suggest adding a basic auth endpoint if you'd like to convert a protected page (or perhaps a page that may be accessible by a unique security token).

I

[2016-04-19 09:12] sum1190 commented on #6
I think that support for SESSION auth can be an useful idea ;)

PS. Thank you for the link http://www.nightmarejs.org/ , I've never seen it before

[2016-04-19 12:41] sciunto opened #20 "instructables.com ?ALLSTEPS stripped?"
Hi,

For this URL: http://www.instructables.com/id/DIY-2k2560x1440-Beam-Projector/?ALLSTEPS
the pdf generated online actually shows the content of http://www.instructables.com/id/DIY-2k2560x1440-Beam-Projector/

Is the url converted? Is it possible to keep ?ALLSTEPS? That allows to download the full page in a single shot.

Thanks.

[2016-04-19 12:48] MrSaints commented on #20
The microservice (Weaver) appears to work with the `ALLSTEPS` query parameter.

I'm pretty sure the demo site is not correctly passing the URL (encoded). @marcushyett, can you confirm?

[2016-04-19 13:01] sciunto commented on #20
Here is the generated pdf with ALLSTEPS query: https://s3-eu-west-1.amazonaws.com/athena-pdf-public/3b10dde2-cb0e-4d9e-9e98-58650f1b748f.pdf
and here without: https://s3-eu-west-1.amazonaws.com/athena-pdf-public/133b7c3c-5a21-4554-8ff7-34552ceb5d2e.pdf

[2016-04-19 14:13] dbuxton commented on #20
I think what @mrsaints is saying is that this is not a bug with the actual Athena code but rather with the demo site athenapdf.com

[2016-04-19 14:27] sciunto commented on #20
Ok, I'll try at some point to run the docker container on my server as the tool looks really promising :)

[2016-04-19 16:22] GotenXiao commented on #9
Perhaps a JSON object to be thrown in like so:
[code]

This would then enable a fellow webservice to flexibly produce PDF files without having to have a fleet of separately configured weaver instances.

[2016-04-20 23:17] roberto-robles commented on #6
+1

[2016-04-24 20:30] #5 closed

[2016-04-26 21:55] cliffom commented on #6
@MrSaints We are currently testing in an environment that is protected behind basic auth. However, the usernames used in our environment are email addresses and thus need to be URL encoded. We pass the `url` parameter to the web service URL encoded but your service is attempting a GET request for the document on an unencoded URL and is met with an unauthorized response. Please advise.

[2016-04-27 12:34] MrSaints commented on #13
Thanks again @bsssshhhhhhh for resolving this.

---

**For the record:**

You can now run stdin conversions, e.g.

`echo "<h1>stdin test</h1>" | docker run -i --rm -v $(pwd):/converted/ arachnysdocker/athenapdf athenapdf -`

[2016-04-27 12:34] #13 closed

[2016-05-05 21:28] cavneb opened #27 "Can I set delay config when using Weaver?"
I need to set a timeout for the Weaver (hosted) version. Do I need to modify the `WEAVER_ATHENA_CMD` command to include the delay?

Thanks for your help!

[2016-05-05 21:48] cavneb commented on #27
Answer:

`—env WEAVER_ATHENA_CMD="athenapdf -S -D 20000"`

[2016-05-05 21:48] #27 closed

[2016-05-05 22:03] MrSaints commented on #27
Yes. That's _the only way for now_.

[2016-05-06 16:15] cavneb opened #28 "S3 configuration to Weaver?"
In the Weaver README, it says it can be configured to upload to S3. How can I do this configuration? Thank you for your help!

[2016-05-06 16:51] MrSaints commented on #28
My apologies @cavneb. It appears that we've forgotten to document that aspect of it.

You'll just have to pass the S3 details as a query parameter, e.g. `?aws_region=<AWS_REGION>&aws_id=<AWS_ID>&aws_secret=<AWS_SECRET>&s3_bucket=<S3_BUCKET>&s3_key=<S3_KEY>`

Let me know how it goes 👍

[2016-05-06 18:46] cavneb commented on #28
Thanks!

[2016-05-09 17:01] #28 closed

[2016-05-12 18:57] audvin opened #31 "Support for PNG"
Would love support for PNG output, or a good integrated workflow for doing PDF->PNG.

Thanks!

[2016-05-18 20:30] cwardzala opened #33 ""Failed to load: -6" with local file"
[code]

I keep getting this and I am not sure what I am doing wrong?

[2016-05-18 20:42] MrSaints commented on #33
`-6` means the file can't be found. I'm guessing your target file `348e3a26fe6c19b7e80e2338c720792e.html` doesn't exist inside `/tmp` ?

[2016-05-18 21:13] hazzadous commented on #33
Could it be because the file isn't mounted inside the container?

[2016-05-20 18:33] sciunto opened #34 "DOC: url for aggressive mode"
Hi,

I couldn't find in your documentation that the url for the aggressive mode would be: convert?auth=arachnys-weaver&aggressive&url=http://blog.arachnys.com/

Thanks.

[2016-05-20 19:07] MrSaints commented on #34
Yes, it's just a matter of adding the `&aggressive` param.

[2016-05-22 15:05] MrSaints opened #35 "Support MHTML conversions"
Chromium / Electron is able to open, and decode MHTML files provided that a "hint" is given through the file extension. i.e. It won't work if you're opening a remote MHTML file (considered an `octet-stream`) or if you're converting a local file without the `.mhtml` extension.

The solution would've been simpler had Go's `http.DetectContentType` supported the detection of the `message/rfc822` heade

[2016-05-24 15:56] ejoebstl opened #38 "Athenapdf seems to strip images"
I've been trying out Athenapdf with some websites, but it seems like images are not included in the output.

The issue is reproducible with the google frontpage.

Command:

`docker run -v (pwd):/converted/ arachnysdocker/athenapdf athenapdf -D 10000 -T 100000 --no-cache --no-portrait https://google.de`

Output:

[a413860bd1d2c36582bc11bb306cee8620b2f911.pdf](https://github.com/arachnys/athenapdf/f

[2016-05-24 17:23] MrSaints commented on #38
It appears to be an issue with the resolution / DPI.

When the `-Z 2` argument is added, the logo shows up.

Interestingly enough, `google.de` appears to be doing something unusual with its logo when cookies are enabled (using `-B` causes the image to load as well).

[2016-05-24 17:44] MrSaints commented on #38
Passing `--force-device-scale-factor=<N>` works as well (`N` is 1 by default). The problem appears to be related to how Chrome detects, and sets the default UI scaling factor.

I noticed that setting `--force-device-scale-factor=2` works in the example you've provided.

Let me know if it helps.

[2016-05-27 17:59] cwardzala commented on #33
I figured out that the way i was mounting the folder and attempting to access files was wrong.

[2016-05-27 17:59] #33 closed

[2016-06-01 01:49] danielwhatmuff opened #40 "x509: certificate signed by unknown authority"
Is it possible to add a runtime option which allows the conversion of sites using untrusted SSL?

We need to convert some internal facing sites to PDF and the certificates are not trusted.

[2016-06-03 14:55] jameshiew opened #42 "Support for headers/footers for each page"
Is there a way to output arbitrary header/footers (e.g. page numbers) similar to the Save to PDF functionality of the Chrome browser?

[2016-06-14 11:37] MrSaints commented on #35
This is somewhat resolved through extension hinting introduced in #44.

It will only work for _local MHTML conversions_. That is, it should be provided as a file buffer or `application/octet-stream` must be specified in the content type headers.

[2016-06-14 11:37] #35 closed

[2016-06-14 11:39] MrSaints commented on #40
Hey @danielwhatmuff, apologies for the tardy response.

We plan on introducing more runtime options, including one for reducing the SSL strictness. I can't confirm when this will be ready, but it is definitely a nice to have feature.

In the code, it's just a matter of setting `TLSClientConfig: &tls.Config{InsecureSkipVerify: true}`.

[2016-06-14 11:42] MrSaints opened #46 "Aggressive mode is not working"
`athenapdf` CLI is currently using a [version](https://github.com/electron/electron/pull/5768) of Electron where `executeJavaScript` is broken when `webSecurity` is set to false.

It'll be upgraded with the fix in the next Electron release as it is not an urgent bug.

EDIT: This affects the print media plugin as well.

[2016-06-16 11:52] #46 closed

[2016-06-16 12:00] MrSaints opened #49 "Replace `did-finish-load` with `ready-to-show`"
With the introduction of [Electron 1.2.3](https://github.com/electron/electron/releases/tag/v1.2.3), there is a new `ready-to-show` event which might work better than `did-finish-load` when it comes to capturing the contents of a page in a timely manner.

**Advantages:**
- It does not wait for slow resources to finish loading (initial render)
- Possibly addresses FOUC without timeout hacks

**Disa

[2016-06-27 15:32] jasonhero opened #52 "Stop PDF from writing to file?"
Is there anywhere to not write the output of athenapdf to a file? I'd like to be able to serve the stdout up to a browser and not have to save it somewhere on the machine itself.

[2016-06-27 15:48] #52 closed

[2016-07-02 18:20] neofreko opened #53 "Conversion process hit the URL twice"
I have a setup which will generate an URL with one time token access. I was wondering why I always fail in generating PDF. My log says I have two requests from Athena. The first one, yield in HTTP 200. And another one (of which the token no longer valid), yield 401.

Apparently this line https://github.com/arachnys/athenapdf/blob/master/weaver/converter/athenapdf/athenapdf.go#L45
actually hit my U

[2016-07-03 12:06] MrSaints commented on #53
Hey @neofreko, apologies for the frustration you had to go through for it to work nicely.

Unfortunately, I'm not convinced that the aforementioned line of code is the reason for generating an additional HTTP request, nor am I convinced that setting `GIN_MODE` to `release` is the solution to your problem. Something would be amiss otherwise.

Firstly, `s.GetActualURI()` never makes any HTTP request

[2016-07-05 11:11] neofreko commented on #53
@MrSaints
LOL, so much for my wild guess :p

No worries, I've adjusted my own backend a bit to work around above issue. Keeping a fork of athenapdf is a bit too much for me at the moment. Hopefully, above issue can be addressed properly in the future.

Thank you for this fine software :). Leanest converter I've found so far.

[2016-07-06 04:39] eslick commented on #38
I'm having this problem as well, we're trying to render PDFs from a website that depends heavily on background images.

[2016-07-07 15:46] ghost opened #55 "question: Running it all inside Electron possible ?"
In order for weaver to work it has to run in docker right ?
Its essentially running electron in a headless container to get the job done i am guessing.

Its a great design, but I need it to run on Desktops with no Docker or reliance on Server.

Please advise, and i can make the agreed changes if you open to that and its required.

[2016-07-07 19:57] MrSaints commented on #55
Hey @gedw99,

What do you mean by on "desktops with no ... reliance on server" ? Can you give an example perhaps?

I can understand the Docker bit, and it is possible to run it without Docker, provided that it is being executed in a graphical environment, and `WEAVER_ATHENA_CMD` is set to the `athenapdf` CLI bin.

If you're referring to running it in a completely headless environment without Docke

[2016-07-15 17:44] blabj opened #57 "Zoom option does not affect output"
Trying to use the --zoom <factor> CLI option to scale the PDF output, but no matter what I pass as factor, the output is identical.  I've tried 0.1, 0.5, 1.5, 2, 5, 10, 100 and 200 and the output is always the same.

Version being the "latest" from docker as of today.

[2016-07-18 10:15] MrSaints commented on #57
Hi @blabj,

Unfortunately, the `--zoom` option only affects the _scaling factor_ when printing (see https://github.com/arachnys/athenapdf/pull/29, and https://github.com/arachnys/athenapdf/issues/38 for more information). It doesn't _'zoom'_ in the way you'd expect when browsing a web page. Misleading, I know. But it has _no effect_ on the print output besides the aforementioned.

Print _scaling_

[2016-07-18 14:11] blabj commented on #57
Hi - I was able to use javascript/css to adjust the zoom level, since
its for internal site that I can alter. But yes, a better description of
the option might help others as well.

Thanks!

On 2016-07-18 06:15, Ian L. wrote:

Links:
------
[1] https://github.com/blabj
[2] https://github.com/arachnys/athenapdf/pull/29
[3] https://github.com/arachnys/athenapdf/issues/38
[4]
https://bugs.chromium.or

[2016-07-19 12:04] ted-dunstone opened #58 "Loading of Angular Style URL's"
Thanks for making a start on a great conversion tool. So far seems to work more consistently on complex web pages than wkhtml2pdf.

I've run into an issue with angular style URLS that have a # in them. To see this in action run a conversion on http://triangular.oxygenna.com/#/dashboards/sales - rather than convert this page it just converts the default page http://triangular.oxygenna.com/. I suspe

[2016-07-19 12:40] MrSaints commented on #58
Hey @ted-dunstone,

We're glad it's working consistently 😄

It appears to be converting the correct [Angular] URL on our end. Out of curiosity, are you using the CLI tool or the microservice? If it's the latter, you need to ensure the URL you are passing is URL encoded.

Thanks!

[2016-08-03 20:07] #58 closed

[2016-08-03 20:07] #55 closed

[2016-08-03 20:08] #34 closed

[2016-08-15 19:01] foundryspatial-duncan opened #61 "CSS background colors are ignored"
I've got a page with some SVG elements as well as regular HTML. I'm impressed to see the SVG stuff seems to render as expected* but the background colors of ordinary divs are being discarded, even without the `--no-background` commandline argument.

*by "as expected," I mean "same as in the browser."

This is with athenapdf version 2.7.0

[2016-08-15 20:29] MrSaints commented on #61
Hey @foundryspatial-duncan, do you have a sample I can look at?

[2016-08-17 17:19] foundryspatial-duncan commented on #61
I put together a quick demo here: https://athena-bug-demo.surge.sh/
If I generate a pdf using this command:
`docker run --rm -v $(pwd):/converted/ arachnysdocker/athenapdf athenapdf 'https://athena-bug-demo.surge.sh' athenaTest.pdf`
The PDF renders the same as in the browser, except the right-most div (`div#e`), which is styled from a document-level stylesheet, shows up as white instead of orange.

[2016-08-17 17:58] MrSaints commented on #61
@foundryspatial-duncan,

Thank you for that. I had a quick look at it, and I believe `media="screen"` is the source of your problem. Try removing it.

[2016-08-18 18:01] #61 closed

[2016-08-22 18:29] foundryspatial-duncan commented on #61
Oh, nice! #62 appears to fix the issue I mocked up above. I'll investigate the real-world spots I was seeing similar behavior and see if the "media" attribute could be affecting things.

[2016-08-26 16:07] Aleksion commented on #42
Any solutions to this? Athena has saved us a lot of headaches in general, but having no headers is a dealbreaker :(

[2016-08-29 13:03] MrSaints commented on #42
@Aleksion, are you looking to create a simple header, and footer with no page numbers? If that's the case then it can already be done via HTML, and CSS. Simply create an element with `position: fixed`, and  set it to `top: 0` (for headers) or `bottom: 0` (for footers).

If you would like to have page numbers in them, then there's currently no out-of-the-box solution for now. But I can tell you tha

[2016-09-05 20:27] fiveohhh opened #63 "Option for converting from html string in memory?"
This is more of a question, but not sure where else to ask.  I have a use case where I'm manipulating some html in software and then generating a pdf.  Is there a way to use Athenapdf without having to have either a local file or a public url?

[2016-09-05 20:43] MrSaints commented on #63
Duplicate of #13, and fixed by PR #21.

You can pipe the HTML via `stdin`:

    echo "<h1>stdin test</h1>" | docker run -i --rm -v $(pwd):/converted/ arachnysdocker/athenapdf athenapdf -

Let me know if that answers your question :smile:

[2016-09-05 20:46] fiveohhh commented on #63
Awesome, thanks for the quick response.  Any chance that this ability exposed via weaver?

[2016-09-05 20:51] fiveohhh commented on #63
To be a little more clear of my use case, I'm currently using https://github.com/openlabs/docker-wkhtmltopdf-aas.  I send a request to it with my html and I get the actual pdf back in the response.  I then do some other things and fire the pdf back to the customer.

[2016-09-05 20:56] MrSaints commented on #63
@fiveohhh Yes, Weaver has support for `multipart/form-data`. See https://github.com/arachnys/athenapdf/pull/54#issuecomment-230511501.

In the example that I've linked, you can in theory set `input.html` to anything that you want (although, you should probably keep the `.html` extension).

[2016-09-05 21:18] fiveohhh commented on #63
Perfect! thanks for the quick help.  My test document looked very promising.  Hopefully the rest will turn out as well.

[2016-09-05 21:18] #63 closed

[2016-09-05 21:47] MrSaints commented on #63
Always happy to help @fiveohhh :smile:

Let me know if you run into any issues.

[2016-09-05 22:00] fiveohhh opened #64 "Line being split across pages"
I'm using the Athenapdf docker image to convert html to pdfs.  The image is working and things look good, but on one of my test documents a line is being split across two pages.

![image](https://cloud.githubusercontent.com/assets/341312/18257483/f60a1136-7389-11e6-9fc0-16a2316bc65d.png)

I had this same issue come up occasionally on wkhtmltopdf and this is one of the main reasons that I'm looking

[2016-09-05 22:45] MrSaints commented on #64
Do you have a link to a test page @fiveohhh ?

[2016-09-05 23:11] fiveohhh commented on #64
This one has some personal customer information on it.  I'll try and sanitize it and see if the issue still exists.

[2016-09-07 10:17] mgladdish commented on #9
This is a biggie for us. Having to have dedicated containers running for different args is overkill.

[2016-09-22 13:36] flaviamissi opened #67 "Brainstorm: new convertion backend for weasyprint"
http://weasyprint.readthedocs.io/en/latest/#

A little about the service:

Background:

I've been trying to convert a not so straight forward html to pdf using the [css3 specification for paged media](https://www.w3.org/TR/css3-page/). The specification is great, everything I need is covered there, the problem is that it doesn't work ATM with Athena's engine (webkit if I'm not mistaken?).

Athena

[2016-09-22 13:53] MrSaints commented on #67
It's running on Blink, a fork of WebKit. But yes, it does not support paged media, and I [highly doubt](https://bugs.chromium.org/p/chromium/issues/detail?id=368053) it'll be supported for the next year or so at the very least.

I've been meaning to refactor the backend part of Weaver for quite some time now so that it'll be much easier for the service to be extended (not just for WeasyPrint).

Pr

[2016-09-26 11:37] MrSaints opened #68 "Duplication of thead, and other table related issues"
It has come to my attention that the recent upgrade to Electron 1.4.0, and thus, Chrome 53 has resulted in various issues when rendering tables.

Problematic commit: https://github.com/arachnys/athenapdf/commit/462778a70605bc34e3dd5f76dfd605c62d5e0c35

Related upstream issues:
- https://bugs.chromium.org/p/chromium/issues/detail?id=24826
- https://bugs.chromium.org/p/chromium/issues/detail?id=6465

[2016-09-26 12:54] flaviamissi commented on #67
Glad to hear you're open to it!

I understand the problem.
I like the multiple images solution, there could be a base "abstract" image without any backend set up (and not meant to be used standalone perhaps), and then other images would extend the base one, installing their respective backends and adding necessary configuration for them to work properly.

Offering a default one (with Blink I assum

[2016-09-30 06:55] JD-Robbs commented on #68
I had the same problem and fixed it via CSS in the interim, although that leads to some styling issues in my case.

      thead {
        display: table-row-group;
      }

So, thanks for posting the solution - I'll pin to that version for a proper fix, in the meantime.

[2016-10-03 08:44] rxng opened #69 "Fonts not displaying properly"
Hi,

Set it all up in a docker environment and working beautifully! However, when the pdf is generated, the letter spacing is really close together... Using Dejavu Sans. Any idea what the issue is?

[2016-10-03 09:15] MrSaints commented on #69
Hi @rxng ,

Do you have an example I can look at?

Thanks!

[2016-10-03 14:18] rxng commented on #69
Hi @MrSaints

Thanks for the prompt response - I found the issue and the solution. By default, debian has an issue with the font kerning and thus I needed to get into the docker container and create a file /etc/fonts/conf.d/100-pdfgenerate.conf with the contents here https://wiki.debian.org/Fonts#Subpixel-hinting_and_Font-smoothing.

Also, I have noticed that the pdf size generated by athenapdf is

[2016-10-03 14:23] JD-Robbs commented on #16
I got a tad confused due to references to HTML/JS as I originally assumed this issue was about generating the TOC/navigation that appears within PDF viewers.   Now, I believe this issue is actually about generating a TOC that is displayed within the document.

So, without meaning to hijack this issue, I just wanted to ask:  is the generation of the TOC/navigation that is shown within PDF viewers a

[2016-10-03 18:25] MrSaints commented on #69
Hi again @rxng ,

Thank you so much for identifying the issue, and providing a solution. I've opened a PR to address the problem.

As for the size of the generated PDF, there appears to be several issues filed on that same issue on Chromium:

- https://bugs.chromium.org/p/chromium/issues/detail?id=92304
- https://bugs.chromium.org/p/chromium/issues/detail?id=103602
- https://bugs.chromium.org/p/ch

[2016-10-04 13:51] rxng commented on #69
Thanks @MrSaints ! Hopefully you aren't sick of hearing from me. I'm almost finished, I promise :)

Today I used docker-slim to reduce the docker image size after trying to switch to alpine (vs debian) failed. When I did the slimming of the image, weaver works perfect! The http server is started and accepts requests. However, the moment a pdf is requested, this error throws and I am wondering if t

[2016-10-05 10:16] MrSaints commented on #69
@rxng , haha don't worry 😄 Happy to help.

From the sounds of it, I think it (the Docker image) doesn't have xvfb installed, and started up. It's required since Athena isn't exactly _headless_.

See: https://github.com/arachnys/athenapdf/blob/master/cli/entrypoint.sh#L6 and https://github.com/arachnys/athenapdf/blob/master/cli/Dockerfile#L9

As for the second problem, I may need more information.

[2016-10-06 08:57] rxng commented on #69
Hey @MrSaints

The system I am on is CentOS7 64bit. I'm following these instructions to compile the binary executive.

1. `npm install`
2. `npm run build`
3. Check the `build/` directory for the respective binaries

It all works and the executable gets placed in:
Packaging app for platform linux x64 using electron v1.4.0
Wrote new app to build/athenapdf-linux-x64

However, when I type in build/ath

[2016-10-06 11:18] MrSaints commented on #69
@rxng , yea, I'm guessing it's because your CentOS set up does not have a desktop environment / display driver. If you install Xvfb: `yum -y install Xvfb`, and run it with `xvfb-run`, it should work as expected.

It's probably going to be tedious to enter `xvfb-run` every time, so you'll probably want to run it in background (see the links from my earlier comment):

    Xvfb :99 -ac -screen 0 1024

[2016-10-11 07:05] JD-Robbs commented on #52
Hi @jasonhero, could you share your solution with me, by any chance?

[2016-10-11 09:11] MrSaints commented on #52
@JD-Robbs you can pipe to stdout using the `-S` flag.

Example: `athenapdf -S https://www.google.com`

[2016-10-11 14:51] JD-Robbs commented on #52
@MrSaints, you're a star — thank you!

[2016-10-11 15:07] #69 closed

[2016-11-02 15:47] ivoputzer opened #73 "dirty stream with --stdout option"
it's not ideal to have logs and timers within stdout-stream when when the `--stdout` option is set. is there any way to disable this behaviour?

[2016-11-02 19:20] #73 closed

[2016-11-03 08:38] fenstrat opened #75 "Custom page size"
The allowed options to --pagesize are fixed at (A3|A4|A5|Legal|Letter|Tabloid). Just wondering if I'm missing something simple to allow a custom page size?

I've tried inline css  `width: 300mm; height: 300mm;` on the html/body/element being rendered, also tried params like `--page-width 300mm` from wkhtmltopdf - all with no luck.

[2016-11-03 11:11] MrSaints commented on #75
Yes, the `pagesize` flag was added before support for custom sizes arrived. This definitely needs to be added, but for now, it is not supported.

[2016-11-03 11:24] #6 closed

[2016-11-11 05:47] polarathene opened #77 "Better docs for CLI args?"
Athena mentions being a drop in replacement for `wkhtmltopdf` despite the change from an outdated webkit to blink. I'm aware I can use `--help` for a list of commands, are they meant to be similar to [wkhtmltopdf](http://wkhtmltopdf.org/usage/wkhtmltopdf.txt)? They seem different(the supported ones). The CLI help isn't too clear about some of the accepted values.

[code]

- I saw in another issue

[2016-11-11 06:02] polarathene opened #78 "Save output as user not root? + harmless errors?"
I've tried to print from a local dev server(provided the host network and port), the delay is to get around a toast notification when the page is loaded(BrowserSync based). This all works good.

[code]
The errors don't seem to be causing any problems, the PDF is written, it's just done so as the root user(due to running via Docker I guess). The file doesn't show up in my file browser, I have to op

[2016-11-11 14:51] MrSaints commented on #77
I think it's fair to say that there needs to be a lot of work done on improving the documentation, and _correcting the descriptions_ (I was never really a fan of it). I've already triaged these tasks.

- For printing, zoom has _no visual impact_. This is the same for Chromium;
- For page size, the following options are currently available: A3, A4, A5, Legal, Letter,Tabloid. Although, it should pro

[2016-11-11 15:40] polarathene commented on #77
If you can hack the DPI that way, it could change the layout based on DPI media queries?(supposedly other elements like picture for providing retina/mobile assets)

Definitely should be added to the docs, I was under the impression I should be running via Docker. Not sure if it was mentioned that I could install/use it another way(just NPM install?).

The browsers print to pdf supports setting mar

[2016-11-25 06:35] fenstrat commented on #75
Turns out there is a workaround for this available right now. Custom page sizes can be achieved with the use of the [css @page rule](https://developer.mozilla.org/en/docs/Web/CSS/@page). E.g. `<style type="text/css" media="all">@page {size: 300mm 300mm;}`. Big hat tip to @jaymiejones86 for this.

[2016-11-28 10:44] ivoputzer opened #79 "table of contents"
is there any known way to create a table of contents based on anchor links of an html page?

[2016-11-29 18:33] MrSaints commented on #79
Possible duplicate of #16.

Unfortunately, there's no out-of-the-box solution at the moment. It is possible however, to generate it via JavaScript.

You can also use HTML anchors to link to a specific page (see https://gist.github.com/MrSaints/cc40127b54298910a6a8 for an example on how to do so).

Let me know if that answers your question.

[2016-12-12 21:46] andresinaka opened #80 "weaver: Multiple files web page."
Hi guys, I'm thinking of using weaver for an html to pdf conversion. The html file I'm going to convert is not hosted in a webserver so I was planning on sending it to the server using the `convertByFileHandler`. And a curl similar to:

[code]

But of course, I can't include css files nor images doing this...is there a way of sending a whole webpage (css, js and html) that I'm not seeing??

[2016-12-12 22:24] MrSaints commented on #80
You have two options (out of the top of my head):-

- Inline all your assets: I'm unsure if there's an 'automated' way out there to do this, but the resulting file size might be huge because of the base64 images
- Save the page as MHTML: on Chrome, you might have to enable this feature on `chrome://flags/`, but once you save the page as MHTML, you should be able to convert it to PDF by passing an

[2016-12-13 14:13] #80 closed

[2016-12-21 10:06] shammishailaj opened #82 "Unable to execute built executable"
I tried to build athenapdf as per https://github.com/arachnys/athenapdf/blob/master/cli/docs/building.md using using NPM.

Everything went fine but when I tried to execute the binary, I am getting the following error:

I found a way to fix this by doing

Next I got the following error:

xxx@ubuntu:~/athenapdf/cli/build/athenapdf-linux-x64$ `./athenapdf `
./athenapdf: error while loading shared lib

[2016-12-26 02:09] Miniwe opened #83 "Page orientation setup"
From CLI I can change orientation with --no-portrait param
How I can change it from inline call
http://[domain-name]/convert?auth=arachnys-weaver&url=[url]& ... ?

[2016-12-27 23:24] robzolkos commented on #83
@Miniwe if you are wanting the orientation to be always landscape for every render you can start the docker container with a `WEAVER_ATHENA_CMD` environment variable

eg `docker run -p 8080:8080 -e WEAVER_ATHENA_CMD='athenapdf --no-portrait' arachysdocker/athenapdf-server`

Then it will add that param always in the service

[2016-12-28 09:49] Miniwe commented on #83
the best solution for me has comeset orientation from css rules

`<style type="text/css" media="print"> @page {size: landscape; } </style>`

[2016-12-28 23:37] robzolkos commented on #83
@Miniwe same.  I've found that if you can control the css/html output then you will get the best result, and let Athena just render what it gets 👍

[2017-01-03 15:56] JD-Robbs commented on #79
@MrSaints Does this also pertain to the ToC (navigation menu) that is rendered by PDF viewers on the left-hand side?  It would be nice to have that option to be able to quickly jump across sections (N.B. I am not referring to a ToC that is actually printed on a page).

[2017-01-13 19:52] excenter opened #84 "How to Post HTML data to athena?"
I similar to #54 want to POST some pre-rendered HTML data to athena running as a docker instance, and receive a PDF back that I can save.
I can't send it as a file path because the program running this is inside it's own docker container, and setting up a web server inside a container just seems dumb.

I have some HTML that I'm trying to render
[code]
nothing special.
Using Node, I've read the tex

[2017-01-13 20:53] AlexanderSharov commented on #84
Try this:
[code]

It returned me pdf, but I have another issue here: it returns pdf with empty pages.
More interesting, if I call GET with providing URL to my html file - everything works perfectly, but if I try to POST that html - it returns me pdf with lots of empty pages.

[2017-01-13 21:27] excenter commented on #84
is the magic in sending it as a stream, or wrapping it in a file object?

[2017-01-13 21:59] AlexanderSharov commented on #84
I don't think the problem is in the streams... You can try to use any Rest clients (e.g I prefer ARC - chrome's app) to post multipart request and you will get the same results..

[2017-01-16 11:16] MrSaints commented on #84
@AlexanderSharov solution looks appropriate to me (see https://github.com/request/request#multipartform-data-multipart-form-uploads - be sure to name the field `file` rather than `custom_file` which the example uses).

Though, I'm quite curious as to why the results are different in the POST vs. the GET handler. If either of you don't mind, can I have a look at the HTML you are using (or something

[2017-01-16 11:35] AlexanderSharov commented on #84
good morning gents,
looks like I found the problem and it was on my side, how I process the response:
in my original code snippet I used `body` which actually was a string and saving it to the file led to error. So the correct node.js code which worked for me:
[code]
here with using `pipe` we directly save the binary stream to filesystem without any buffer->string->buffer conversion

[2017-01-16 11:50] MrSaints commented on #84
@AlexanderSharov Glad it worked out for you 😄 And thank you for sharing your solution.
@excenter Can you let us know if it works for you?

[2017-01-16 11:52] MrSaints commented on #83
@robzolkos @Miniwe, Yes. Where possible, I strongly recommend using a HTML / CSS solution. They will (mostly) override the actual renderer configuration (see https://github.com/electron/electron/pull/8365).

Let me know if you have any further questions.

[2017-01-16 11:52] #83 closed

[2017-01-16 12:07] MrSaints commented on #82
Apologies for the tardy response. That appears to be the right approach for building / running locally. The exact dependencies we install in our Docker image can be found here: https://github.com/arachnys/athenapdf/blob/master/cli/Dockerfile#L10

Have you tried locating `libXtst.so.6`? And perhaps re-installing it?

For now, we do not officially support packaging `athenapdf` manually, so issues ar

[2017-01-16 15:08] MrSaints commented on #79
@JD-Robbs Yes, that too, isn't supported. Nevertheless, it _can be supported_ on the microservice-level. I'd prefer not to touch the CLI for that since Electron does not support it, and it's likely that we have to rely on something like GhostScript to achieve it.

[2017-01-16 16:06] excenter commented on #84
I will let you know as soon as I get a chance to test :)

[2017-01-16 17:01] excenter commented on #84
@AlexanderSharov I'm having trouble running that code as is, like  both `callback`s aren't defined, but I got *this* to do exactly what I wanted it to:
[code]

[2017-01-17 06:39] urkl commented on #42
Anything new on this request?

[2017-01-17 23:37] MrSaints commented on #42
@urkl Unfortunately, no.

If it helps, we've personally been relying on stamping / watermarking to achieve headers, and footers. It's a lot more granular, but that comes at the cost of being slightly complex (in terms of the assembly process).

[2017-01-18 20:12] MrSaints commented on #84
I'll close this issue seeing as it appears to be resolved. Let me know if you have any further questions / issues.

[2017-01-18 20:12] #84 closed

[2017-01-19 04:48] pgrm opened #85 "Disable JS"
I'd like to use this tool instead of a self built solution based on wkhtmltopdf, however since users can upload custom html, I disabled JS on wkhtmltopdf, I didn't find any option to do this with athenapdf. Is it possible and how could I do it? - Environment variable would be preferred, but I could also set it on every request or extend the docker image.

[2017-01-19 05:17] pgrm commented on #85
Ok, after a second look, I guess what I need is

     javascript: true,
     webSecurity: true,

in https://github.com/arachnys/athenapdf/blob/master/cli/src/athenapdf.js#L96

and additionally I'd need to set those flags in the weaver via the `WEAVER_ATHENA_CMD` env var - did I get it right?

Would you welcome a PR to update the athenapdf.js?

[2017-01-19 09:33] MrSaints commented on #85
Hi @pgrm,

Yes, unfortunately we do not have any option to disable JS at the moment. We'd most definitely welcome a PR to introduce this. That's (the link) also the appropriate location to set this.

Let me know if you have any questions.

Thanks!

[2017-01-20 13:32] pgrm commented on #85
@MrSaints the PR is there, please check if it make sense or comment on it if I missed something :)

[2017-02-06 14:46] richardgill opened #88 "Webgl support"
Hi,

This tool generates by far the best PDFs I've seen out of any tool. Great work!

I'd like to be able to print webgl canvases. Right now I don't think this works: for example if you try converting: http://webglsamples.org/aquarium/aquarium.html.

<img width="723" alt="screen shot 2017-02-06 at 14 43 06" src="https://cloud.githubusercontent.com/assets/6640874/22651334/9ee8d562-ec7a-11e6-8ddc-e1

[2017-02-08 14:45] MrSaints commented on #88
This is resolved by #89. Thanks again @richardgill 😄

[2017-02-08 14:45] #88 closed

[2017-02-16 08:27] chripede commented on #53
Are there any plans to make this configurable. We use Athena for report generating, something that is often quite costly. Hitting the URL twice is making everything take much longer than needed.

[2017-02-23 16:53] lanceulmer opened #90 "Monitor and restart Xvfb"
I've been using athenapdf for about a month now in a production app and roughly once a week the Xvfb instance dies in the weaver container and we have to restart it. We get a general error message: "PDF conversion failed due to an internal server error". It would really be helpful if the Xvfb process was monitored automatically to keep it alive.

[2017-02-23 22:04] MrSaints commented on #90
That's interesting. We've been running ours for months, and we've yet to come across this problem. But considering that there's no supervisor in place, it is definitely a possibility. I'm quite interested to know what may cause it to crash.

[2017-03-06 16:12] bersling commented on #77
That sounds interesting, how would I do that? I tried:

[code]
but it still had some margin.

[2017-03-06 22:59] polarathene commented on #77
Some browsers support the CSS differently. I found quite a few did not support some print properties that well when printing to PDF, possibly due to some other CSS rules, I did not confirm.

I think for Chrome you need to choose custom margins or something to let it use the margins your CSS set, verify with Chrome print. Athena probably has to do something similar if Chrome can use the ones you sp

[2017-03-06 23:15] bersling commented on #77
I just checked, on chrome print I get zero margins while with athena I still have the margins using the above css.

[2017-03-07 09:05] MrSaints commented on #77
@bersling If you don't mind, can I have a look at the HTML/CSS you are using?
What you did should work, and I've tried it out on `master`.

[2017-03-07 09:40] bersling commented on #77
Hi, thanks a lot for the offered help. I just checked again and it worked. It was a caching problem, sorry for that!

[2017-03-07 20:56] funsim opened #91 "Cookie support"
wkhtmltopdf has a "--cookie" option, which is very usefull to convert pages that are part of a user session.

It would be great to have the same option also for athenapdf.

[2017-03-08 04:49] F21 opened #92 "Upgrade to latest electron"
The latest version of electron is 1.6.1. The project currently uses 1.4.0, so it would be nice if electron can be bumped! 😄

[2017-03-08 09:46] MrSaints commented on #92
In the spirit of open source, would you by any chance be keen on opening a PR for this? 😄

If not, I'm happy to open it to the general public (upgrading should be something along the lines of : https://github.com/arachnys/athenapdf/commit/462778a70605bc34e3dd5f76dfd605c62d5e0c35).

[2017-03-08 09:47] F21 commented on #92
I don't haven't used nodejs too much, but that looks simple enough! Should I also bump the version number or leave it as is?

[2017-03-08 10:19] MrSaints commented on #92
@F21, yes, if you can, let's bump instances of `2.8.0` to `2.9.0` as well 😄 Thanks!

[2017-03-08 10:22] F21 commented on #92
@MrSaints Done and squashed! 😄

[2017-03-08 10:36] #92 closed

[2017-03-13 19:29] fsauter opened #94 "Page number in a footer"
Hi guys,

can you give me an example how to display the page number with a footer? #42 seems to go into the right direction but I do not get what "relying on stamping / watermarking to achieve headers, and footers" means @MrSaints :-(. Any code examples?

Cheers Florian

[2017-03-15 23:10] MrSaints commented on #94
Hi @fsauter,

Essentially, we generate two documents which we layer together. Again, as my comment in that issue mentions, it's not so straightforward, but it does allow for more granular control over the final output.

---

The first document - let's call it the main layer - comprise of the core content. The second document is the header / footer layer.

We generate the main layer first without h

[2017-03-15 23:11] #94 closed

[2017-03-16 22:08] fsauter commented on #94
Hey @MrSaints

thank you so much for the explanation! So if I want to use Athenapdf as Microservice (weaver) I would need a second service, that converts those two layers and than send the result to the user... that sounds as a lot of work :-/

With wickedpdf (wrapper for wkhtmltopdf) I can use a javascript snippet to achieve the page numbers (https://github.com/mileszs/wicked_pdf#page-numbering).

[2017-03-17 17:30] MrSaints commented on #94
@fsauter, I believe `wicked_pdf` is using `wkhtmltopdf` behind the scenes, and they have support for headers / footers. How it actually works, I'm not too sure. I haven't looked into it. But, that's not something Athena has at the moment.

In theory, if you know exactly how many pages you'll have, you can generate the headers / footers in the same HTML as your main content (using the code I includ

[2017-03-30 07:39] nootanghimire opened #95 "(weaver) Renderer Process Crashes when trying to convert some web pages"
This happens when I try to convert  `blog.arachnys.com` to a PDF, this has not happened when converting other web pages.

The error might be related to libudev . The log in the console is pasted below

[code]

I tried adding  `--security-opt seccomp=unconfined` to the docker run command, but this only removed the `libudev: udev ...` error. The response is still json encoded and says something alon

[2017-03-30 09:23] MrSaints commented on #95
Hi @nootanghimire, can you try it with 2.7.1?

[2017-03-30 13:51] nootanghimire commented on #95
@MrSaints Sorry, but I didn't quite get you - Which application's version are you referring to by 2.7.1?

[2017-03-30 14:03] MrSaints commented on #95
@nootanghimire Does it work with Docker `arachnysdocker/athenapdf:2.7.1`?

[2017-03-30 14:47] MrSaints commented on #95
I see, it must be an issue with Electron. I'll investigate further.

[2017-03-30 14:51] nootanghimire commented on #95
Thanks.

I was also curious about another thing. This might not be a right place to ask, but since I don't see any other place to communicate,

Why do you suggest to use pipe-and-redirect `|>` instead of plain redirect `>` ?

I was curious because even in 2.7.1 , the conversion fails (interestingly, only for blog.arachnys.com) when the pipe is omitted.

[2017-03-31 09:43] MrSaints commented on #95
@nootanghimire I can't remember exactly why I suggested a pipe-and-redirect versus a plain redirect, so that will require some investigation. But, I've had a look at the latest Electron, and the crashing still seems to be a problem. I reckon it's a problem with our blog specifically because of the large image, and OOM. I know this was a problem with Electron at one point.

[2017-04-03 09:58] MrSaints commented on #95
@nootanghimire I've filed an issue on Electron: https://github.com/electron/electron/issues/9093

For now, if you want to use the latest version, mount `/dev/shm` or start the container using `--shm-size="2g"` after `docker run` to give it a larger shared memory size.

[2017-04-03 10:06] nootanghimire commented on #95
Thanks. :+1:

[2017-04-04 20:49] himangshuj opened #98 "Allow override of acl for s3 uploads"
Currently all pdfs generated by athena and uploaded to s3 are public by default. I have a use case where we want to define our own acls for uploaded files. Is there any plan to fix this issue?

[2017-04-04 21:10] k13gomez commented on #98
I've created #97 to support this feature, also to allow the service to work with credentials provider chain instead of only static credentials for aws s3 upload.

[2017-04-05 09:37] MrSaints commented on #98
That does sound ideal. We're open to having a PR for this @k13gomez @himangshuj 👍 Let me know how it goes, and if you have any questions.

[2017-04-05 12:20] k13gomez commented on #98
Hi @MrSaints, take a look at PR #97 https://github.com/arachnys/athenapdf/pull/97 it already has the requested features and its passing all tests.

[2017-04-05 14:17] duncan-bayne opened #100 "CLI tool failing on FreeBSD"
After installing athendapdf with `docker pull arachnysdocker/athenapdf`, I tried to convert an HTML file called `review.html` to PDF.

This fails as follows:

[code]

My system details are:

[code]

[2017-04-11 14:42] MrSaints commented on #100
Thanks for reporting this. Seems like a Chromium + Docker + FreeBSD problem. For now, it might help to use a different OS.

[2017-04-11 22:06] duncan-bayne commented on #100
@MrSaints Thanks for replying so promptly :)  I'm currently using wkhtmltopdf, so there's no rush for now, I'll carry on with that.

In the meantime I'm very happy to help out with debugging the problem, if I can, by running debug builds, sending logs, etc.

[2017-04-12 09:32] MrSaints commented on #100
@duncan-bayne I appreciate your huge support 😄 I'll look into it, and get back to you. In the meantime, if you could try running the CLI without Docker, that'd be great.

[2017-04-25 12:54] gleclaire opened #101 "SignatureDoesNotMatch with weaver to s3"
I am getting the following when I try request weaver upload to the pdf to S3

Error #01: SignatureDoesNotMatch: The request signature we calculated does not match the signature you provided. Check your key and signing method.
mfpdf_service_1  |      status code: 403, request id: 423990AD92B37E16, host id: DfNwssdCx3PTB2Dv6x2DmYP2xzlGWWAaV/NK5wUJglenz8mGFqb6QnA1L//E8iZA2G078HO0p9w=

the credentials

[2017-04-25 13:22] MrSaints commented on #101
Can you supply the request you are using (with the credentials omitted of course)?

[2017-04-25 15:06] gleclaire commented on #101
turns out that the url encoding on postman is not working correctly.  This meant that the AWS_SECRET was incorrect.

Great package.

[2017-04-25 15:06] #101 closed

[2017-04-25 15:35] MrSaints commented on #101
Cheers @gleclaire.

[2017-05-01 18:27] jakezatecky opened #102 "Windows volume issues with example commands"
As it stands, the example commands will fail on most Windows instances, due to an issue with path resolution. When using Git Bash (or rather, MSYS), you will get an error similar to the following:

[code]

According to [this comment](https://github.com/moby/moby/issues/12590#issuecomment-96767796), you can get around this issue by adding an additional forward slash in front of `$(pwd)`:

[code]

A

[2017-05-01 22:01] MrSaints opened #103 "Use headless Chrome"
See https://developers.google.com/web/updates/2017/04/headless-chrome, and https://medium.com/@dschnr/using-headless-chrome-as-an-automated-screenshot-tool-4b07dffba79a

I don't think we can use it as a full replacement, but it can definitely be included as a simple, non-configurable adapter (at least for the initial release).

[2017-05-02 15:23] MrSaints commented on #102
Hey @jakezatecky,

Thanks a lot for not only reporting the problem, but for looking into the solutions as well.

I agree with you, and I'd very much welcome a PR to improve the documentation. Windows was not taken into consideration when this repository was set up. I personally think it'd be great to have a warning for both.

Let me know if there's anything I can do to help.

Thanks!

[2017-05-03 01:34] jakezatecky commented on #102
@MrSaints Sure. Should I include this in the quick start as well?

[2017-05-03 08:30] MrSaints commented on #102
@jakezatecky Yep. That'd be great 😄

[2017-05-11 13:32] RoanBrand commented on #91
+1

[2017-05-11 14:28] #102 closed

[2017-05-17 14:21] FrankTheDevop opened #106 "Problem with 50 concurrent accesses to the Weaver Queue"
# Purpose
The purpose of this Issue is to show you my experiments with athenapdf in a weaver container and asking for help to understand what I am doing wrong.

# Thanks
Before I start with the Issue I am having I want to thank you guys for creating such a great tool. It saves a lot of time and effort. Great Job Guys and Gals!

# Issue
At first I show you the Task at hand that needs to be fulfille

[2017-05-17 16:52] MrSaints commented on #106
With your current settings:

[code]

You'll only be able to convert one document at a time, with a queue size of 50.

In hindsight, the queue size doesn't do much because all web requests are handled concurrently via a Go routine. That is, even without a queue, web requests will not block each other. So it's somewhat of an _unnecessary feature_ (at least I can't remember its usefulness anymore, an

[2017-05-22 10:20] FrankTheDevop commented on #106
Hey MrSaints,

thank you for your fast response and sorry for the late reply. This is what i figured out, based on your suggestions.

# Setup
* I used my develop machine, limited docker to 1 cpu and 3 gb Memory.
* Internet Connection is provided from telecom, 20 mbit down, 4 mbit up
* The container is started as follows:
`docker run -m=2G --memory-swap=2G --shm-size=1536m -e WEAVER_WORKER_TIMEOUT=

[2017-05-22 10:50] MrSaints commented on #106
Those errors can be [safely ignored](https://github.com/arachnys/athenapdf/blob/a4ad4528d3ff08b81efd5d3026725e4d48f77413/cli/docs/quick-start.md#syntax). They don't seem relevant to your problem.

- Did you benchmark how long it takes for a single document to be converted? It'll be great to get some statistics on this, so I can better advise you.
- Have you tried mounting `/dev/shm:/dev/shm` ?
- Y

[2017-05-22 11:08] FrankTheDevop commented on #106
Hey MrSaints,

# Benchmark
It heavily depended on the number of Workers.
- 5 Workers took on average 20-40 seconds.
- 10 Workers took on average 30-60 seconds

The Time begins with the curl call to weaver until the pdf is downloaded locally. One thing I found interesting is, that the time needed for fulfilling one jobs raises with the number of jobs done.

# Mounting /dev/shm
Locally I used your c

[2017-05-22 11:36] MrSaints commented on #106
The reason for this observation is that the later jobs are at the _back of the queue_. It is not necessarily because one job raises the time needed to process the next job. That being said, if the queue is being occupied by _slow conversions_, they will raise the time (from request start to request end) for subsequent conversions.

If time is not a constraint, I would suggest raising the timeout (

[2017-05-23 19:27] FrankTheDevop commented on #106
Hey MrSaints,

I tried your suggestion.

# Setup
2 Hosts - 2 GB Main Memory and 2 CPUs each
monitoring:
  image: 'hopsoft/graphite-statsd:latest'
  mem_limit: 256m
  ports:
    - '80:80'
    - '2003:2003'
    - '2004:2004'
    - '2023:2023'
    - '2024:2024'
    - '8125:8125/udp'
    - '8126:8126'
  restart: always
pdf:
  autoredeploy: true
  environment:
    - GIN_MODE=debug
    - STATSD_ADDRESS=

[2017-05-23 19:44] borkdude commented on #91
+1

[2017-05-24 15:57] gypsydave5 opened #107 "Example conversion breaks"
I was just playing around with Weaver locally and the example conversion used in the Readme (of http://blog.arachnys.com/) causes the renderer process to crash:

[code]

Worked for everything else I threw at it though! 😄

Docker version:
Version 17.05.0-ce-mac11 (17656)
Channel: edge
ffbc5f5871

[2017-05-24 16:11] MrSaints commented on #107
Thanks for reporting this.

Duplicate of #95.

[2017-05-24 16:11] #107 closed

[2017-06-05 16:20] borkdude opened #108 "Weaver executes request twice"
To reproduce:

    echo "Test" > index.html
    python -m SimpleHTTPServer 8090

In another terminal:

    docker run -p 8080:8080 --rm --security-opt seccomp:unconfined --shm-size="2g" --env WEAVER_ATHENA_CMD="athenapdf -S -D 1000" arachnysdocker/athenapdf-service

Make the request to Weaver (fill in host IP):

    http://localhost:8080/convert?auth=arachnys-weaver&url=http://<host ip>:8090/index

[2017-06-05 20:38] MrSaints commented on #108
Thanks for filing an issue, but this is a duplicate of https://github.com/arachnys/athenapdf/issues/53.

[2017-06-05 20:38] #108 closed

[2017-06-05 20:40] borkdude commented on #53
I've hit the same issue with a one time token access.

[2017-06-19 21:14] Milek7 opened #110 "Page orientation in webservice"
How to specify page orientation in websevice request? And wouldn't it be better if athenapdf respected @page CSS size directive?

[2017-06-20 07:42] MrSaints commented on #110
You should be able to set it via CSS.

See: https://github.com/arachnys/athenapdf/issues/75#issuecomment-262889879

[2017-06-20 11:05] MrSaints commented on #103
If anyone is interested, this is now a work in progress in https://github.com/arachnys/athenapdf/tree/cdp. The plan is to rewrite the microservice as well.

[2017-06-20 11:07] MrSaints commented on #95
The issue was closed upstream as:

Seeing as it is no longer a problem when using headless Chromium (see https://github.com/arachnys/athenapdf/tree/cdp). I'm going to close this.

[2017-06-20 11:07] #95 closed

[2017-06-20 11:11] MrSaints commented on #82
Closing due to inactivity.

[2017-06-20 11:11] #82 closed

[2017-06-20 11:11] MrSaints commented on #20
Closing due to inactivity. I think we will revamp our demo page soon™

[2017-06-20 11:11] #20 closed

[2017-06-20 11:13] MrSaints commented on #49
Closing as `ready-to-show` (or `domContentEventFired ` in CDP) can be unstable.

[2017-06-20 11:13] #49 closed

[2017-06-20 11:15] MrSaints commented on #85
This will be available in v3 (CDP) https://github.com/arachnys/athenapdf/tree/cdp

[2017-06-20 11:15] #85 closed

[2017-06-20 11:16] MrSaints commented on #90
`Xvfb` will no longer be required in v3 as we are going completely headless (https://github.com/arachnys/athenapdf/tree/cdp).

[2017-06-20 11:16] #90 closed

[2017-06-20 11:17] MrSaints commented on #91
This will be available in v3 (https://github.com/arachnys/athenapdf/tree/cdp). `--cookie-jar` however, is not supported.

[2017-06-20 11:17] #91 closed

[2017-06-20 11:17] MrSaints commented on #98
This is now merged in, and it should be available in `latest` shortly.

[2017-06-20 11:17] #98 closed

[2017-06-20 11:19] MrSaints commented on #38
Closing due to inactivity. Feel free to respond if this is still an issue.

[2017-06-20 11:19] #38 closed

[2017-06-20 11:20] MrSaints commented on #31
Given that our current priority is moving to a completely headless environment, and to refactor our microservice, I don't think we can address this anytime soon. Apologies. But PRs will be welcomed on the v3 branch (https://github.com/arachnys/athenapdf/tree/cdp).

[2017-06-20 11:20] #31 closed

[2017-06-20 11:24] MrSaints commented on #75
The page size should be configurable in v3 (https://github.com/arachnys/athenapdf/tree/cdp). But for v2, and below, please refer to @fenstrat's solution :)

[2017-06-20 11:24] #75 closed

[2017-06-20 11:25] MrSaints commented on #64
Closing due to inactivity.

[2017-06-20 11:25] #64 closed

[2017-06-20 11:39] MrSaints commented on #57
I believe this should be _resolved_ in v3.

[2017-06-20 11:39] #57 closed

[2017-06-20 11:42] MrSaints commented on #42
We can include an option to include Chromium's default header / footer in v3. But it will not be configurable, and I am not sure how much value that will add.

[2017-06-20 11:44] MrSaints commented on #79
Let's move the discussion to #16.

[2017-06-20 11:44] #79 closed

[2017-06-20 11:45] MrSaints commented on #106
Hi @FrankTheDevop,

I appreciate your findings, and the time you have taken to gather them.
If you do not mind, can you try using the following tagged image `athenapdf-service:3.0.0-b` ?

Thanks!

[2017-06-20 11:47] #103 closed

[2017-06-20 13:03] #110 closed

[2017-06-20 13:29] MrSaints opened #111 "Version 3"
In preparation for version 3, we will now be sunsetting version 2.

If you are using Athena via Docker, please ensure you are using a tagged image, **do not use latest!**
If you are importing our Go libraries, please ensure you are using `gopkg.in/arachnys/athenapdf.v2`.

Lots of backwards incompatible changes are LIKELY to be introduced.

See https://github.com/arachnys/athenapdf/releases/tag/v2.

[2017-06-26 10:11] MrSaints commented on #40
This is resolved in v3.

[2017-06-26 10:11] #40 closed

[2017-06-26 10:13] MrSaints commented on #111
- [ ] Add / fix tests
- [ ] Built-in retries / fallbacks
- [ ] Process-level queue'ing / throttling
- [ ] Instrumentation (statsd, OpenTracing, etc)

[2017-06-27 17:41] borkdude opened #113 "javascript-delay and/or window-status"
As AthenaPDF is a drop in replacement for wkhtml2pdf, I'm looking for either `javascript-delay` or `window-status` so my website can indicate when it's ready to AthenaPDF. Are these implemented or are there any plans for it?

[2017-06-27 21:09] MrSaints commented on #113
You can set a delay using `-D`. Use the `--help` flag for more information.

[2017-06-27 21:23] borkdude commented on #113
@MrSaints We're currently using the fixed time limit (which is similar to javascript-delay). wkhtml2pdf also offers the option of setting the window status to signal the browser that the PDF can be generated. From the docs:

[code]

This feature would be more helpful to us. Are there any plans for implementing it?

[2017-06-28 00:37] F21 commented on #111
For instrumentation, how about exposing metrics via prometheus?

[2017-06-28 07:53] MrSaints commented on #111
Good shout. I've only considered statsd, and OpenTracing for now. But I believe we can definitely squeeze in Prometheus.

[2017-06-28 15:16] MrSaints commented on #113
That feature is not currently available. I'll make a note of it for version 3.

[2017-06-28 18:28] MrSaints commented on #113
It is now resolved in version 3.

[2017-06-28 18:28] #113 closed

[2017-06-28 21:53] MrSaints commented on #9
Sorry I haven't updated this. But, the good news is version 3 should be able to handle most common options (see https://github.com/arachnys/athenapdf/blob/cdp/pkg/proto/conversion.proto). The CLI, and the service will share the exact same conversion options, with room for including more.

[2017-06-28 21:53] #9 closed

[2017-06-29 07:15] ashikkalavadiya opened #114 "'types/node' is not in the npm registry."
Not Found
npm ERR! 404
npm ERR! 404 'types/node' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 It was specified as a dependency of 'electron'
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, or http url, or git url.

npm ERR! System Linux 2.6.32-504.el6.x86_64
npm ERR! command "/usr/local/bin/node" "/usr/l

[2017-06-29 09:08] MrSaints commented on #114
What's your version of Node, and NPM?

[code]

I believe you need to upgrade NPM to 3.x.

[2017-06-30 10:29] MrSaints commented on #111
If anyone wants to play with it (the CLI):

[code]

[2017-07-05 14:50] AliKamil opened #117 "Problem loading fonts"
Testcase to reproduce the issue:
[code]
If font is not used outside of `printer only` block - it cannot be used from within either.

Can anyone suggest something on that matter?

[2017-07-05 14:53] MrSaints commented on #117
Change `printer only` to `print-only`.

[2017-07-05 14:54] AliKamil commented on #117
I can do this in example to avoid confusion, but that doesn't fix an issue.

[2017-07-05 14:59] MrSaints commented on #117
Interesting, can you try running it with a delay of 1s (`-D 1000`) ? I was able to replicate this on the latest v3 too.

[2017-07-05 15:02] AliKamil commented on #117
Delay (1s or bigger) doesn't affect this issue at all.

[2017-07-05 15:16] lauri-elevant commented on #117
Also, if you add a `<b>test</b>` to the `printer only` tag, it will also not show up, **unless** you also add `<b>foobar</b>` into the body tag, outside of the `printer only` div. Also the same with some accented characters like Ł.

The cause seems to be that Electron can only draw fonts that have been "required" outside of the `printer only` tag. Curiously enough, adding the accented character in

[2017-07-07 08:32] MrSaints commented on #117
Okay, this is not a problem on v3 if a delay is set (~1s).

[2017-07-12 09:42] MrSaints commented on #114
@ashikkalavadiya Is this still an issue? Feel free to re-open the issue if it is.

[2017-07-12 09:42] #114 closed

[2017-07-17 23:36] ebiggs opened #118 "Is Delay the only way of deciding a page is finished?"
Thanks for the amazing project, guys. I switched from wkhtmltopdf to athenapdf when I encountered some vexing rendering issues in wkhtmltopdf that weren't present in athenapdf. However there were two things about athenapdf that I hoped can be improved on.

The first one is the delay setting. I noticed when I used the default delay of 200ms, about 80% of my batch would produce prefect pdfs while th

[2017-07-18 12:49] MrSaints commented on #118
Hi @ebiggs,

Thank you for your kind words. It means a lot.

The current version of Athena relies on a Electron event, `did-finish-load` (similar to `onload`), before rendering to PDF. The delay simply waits for X amount of time after this event. Consequently, the page may finish loading, but there are cases where the page may not actually be _ready_ (e.g. when there are lots of external resources

[2017-07-18 14:06] dbuxton commented on #118
@MrSaints really interesting to think about the frame update frequency. Maybe in that scenario the delay could just be an upper bound of the amount of time waited for frame rate to fall below a certain threshold?

[2017-07-18 20:42] MrSaints commented on #118
@dbuxton Yes, perhaps. Without testing, I am unsure how that will behave when updates are sporadic with large, and small bursts. In such a case, maybe it should consider the upper bound after the rate is fairly constant.

[2017-07-20 10:58] pgrm opened #119 "3.0.0-b on ECS - Unable to contact debugger"
When I run version `3.0.0-b` on ECS I see the error

    Unable to contact debugger at http://localhost:34069/json after 15 seconds, gave up

in sentry. Checking stdout of the container I cannot see anything else, but when I try to run chrome inside the container on ECS I get

    FATAL:zygote_host_impl_linux.cc(107)] No usable sandbox! Update your kernel or see https://chromium.googlesource.com/c

[2017-07-20 12:07] MrSaints commented on #119
Our demo is running on ECS without any problems. From the looks of it, the only differences between your task definition, and ours is `"privileged": true`. I know it is not ideal, but there is a card for this already (https://github.com/arachnys/athenapdf/projects/1).

[2017-07-20 14:37] pgrm commented on #119
Thx, adding those options did the trick.

One more question, and I don't want to create a new issue for it - IAM roles don't seem to be supported, is there any plan on changing this in the future? Just like the `public-read` ACL actually isn't what we want, we'd rather have a proxy which checks dependencies, ...

[2017-07-20 14:37] #119 closed

[2017-07-20 15:50] MrSaints commented on #119
@pgrm That's a really good point. I don't see why not. If you could open an issue on it, I'll be sure to prioritise it.

[2017-07-21 08:41] pgrm opened #120 "Allow to use IAM roles when deployed on AWS infrasturcture"
Currently the way the AWS credentials are created doesn't work with IAM roles on AWS. I think the solution could be, to assume IAM roles should be used if no AWS_ID and AWS_SECRET were provided.

[2017-07-21 08:45] pgrm opened #121 "Make ACL public-read configurable"
It would be cool if `public-read` ACL could be turned off either via environment variables (preferable for me since we need to keep it turned off all the time) or at least via query parameters. Currently it's hard coded here:

https://github.com/arachnys/athenapdf/blob/cdp/cmd/weaver/converter/upload_conversion.go#L51

[2017-07-21 08:47] pgrm commented on #119
@MrSaints thanks for your help, I've created the 2 issues about IAM (https://github.com/arachnys/athenapdf/issues/120) and ACLs (https://github.com/arachnys/athenapdf/issues/121)

Unfortunately, this is probably my first encounter reading go code, so I can't be any more helpful.

[2017-07-21 21:52] MrSaints commented on #119
No worries @pgrm. And thank you so much for your contributions 😄

[2017-07-21 21:54] MrSaints commented on #121
Whoops. I merged a PR for this in #98 after creating the `cdp` branch.

https://github.com/arachnys/athenapdf/blob/master/weaver/converter/upload_conversion.go#L62

It should be addressed in the latest version soon.

[2017-07-22 12:21] FrankTheDevop commented on #106
Hi MrSaints,

This time I could only do a quick check. After adapting the parameters to WEAVER_ATHENA_CMD=athenapdf --orientation=Landscape, I get new errors:

# Without GIN=DEBUG
2017-07-19T12:56:27.797421373Z [AthenaPDF] converting to PDF: http://www.heise.de
2017-07-19T12:56:42.804653692Z captured errors:
2017-07-19T12:56:42.804944213Z Error #01: exit status 1 : 2017/07/19 12:56:42 Unable to co

[2017-07-22 23:08] MrSaints commented on #106
@FrankTheDevop That's really awesome! And I'm so thankful for your continuous feedback. As for the error you have provided, I believe it is related to #119. That is, you might have to run it in privileged mode. I've fixed it recently, but it is not pushed out yet.

[2017-07-24 16:43] MrSaints commented on #119
Fixed in ef264da3dd5394333e0731a73a3b2c0f32b195fa

[2017-07-25 10:38] borkdude commented on #113
@MrSaints Is this already available when using the AthenaPDF service Docker? I'm unsure how I should invoke it.

[2017-07-25 10:50] MrSaints commented on #113
@borkdude I just rolled out a new service assembly yesterday, so it is not currently on Docker Hub. It is available on the CLI assembly. Is the former something you'd be interested in?

[2017-07-25 10:53] borkdude commented on #113
We currently use the service, but it'd be good to know how to call the CLI, because we need to configure it in the future anyway.
Currently I'm trying this and I'm not getting 3 to work at all:
[code]

[2017-07-25 11:11] MrSaints commented on #113
@borkdude I see. I've updated the CLI v3 image on Docker Hub. It should work as expected now (fixes #119). See the shell script wrapper https://github.com/arachnys/athenapdf/blob/v3/bin/athenapdf.sh for an example of how you can call it via Docker.

[2017-07-25 11:20] borkdude commented on #113
@MrSaints I might be doing something wrong, but after the pull of the most recent image I get this:

[code]

[2017-07-25 11:52] MrSaints commented on #113
Try `docker run --rm -v $(pwd):/conversions/ arachnysdocker/athenapdf:3 <URL>` instead.

[2017-07-25 18:33] arbabnazar opened #122 "can I install it locally instead of docker?"
I know it's not the problem channel to ask but can I install it on the local machine(ubuntu) instead of docker due to some strange requirements. Thanks

[2017-07-26 09:50] MrSaints commented on #122
Is this for the CLI or service assembly? It is possible to install it locally, but it will require a bit of manual work to prepare the environment. I recommend looking at the `Dockerfile` to see what is required. You just need to mimic it.

[2017-07-26 23:29] pgrm opened #123 "Empty PDF when converting using HTTP Post v3"
Converting files using HTTP Get works just fine, but when I try to send a file, I only get an empty pdf with 922 bytes rendered.

I tried it in postman, I get `{ "status": "uploaded" }` back from the server. When I have a short glimpse at the file written to the `/tmp` directory I can see that it's the correct content, but still I can't get any.

The url I tried is http://localhost:8080/convert?au

[2017-07-27 09:22] MrSaints commented on #123
If it is possible, can I have a look at the body data you are using (omitting anything confidential)?

[2017-07-27 09:38] pgrm commented on #123
I've extracted the postman call and published it as a collection - https://documenter.getpostman.com/view/1567159/athena-pdf-public/6mxaGtt

The curl (which you can see on the website) looks like this:

[code]

and instead of the `undefined` from file, I'm sending the `test.html` file which you can find in [files.zip](https://github.com/arachnys/athenapdf/files/1178307/files.zip) which I already u

[2017-07-27 09:45] MrSaints commented on #123
I'm getting `{"error":"invalid file provided"}` using a similar request as yours.

This works though:

[code]

[2017-07-27 10:01] pgrm commented on #123
The curl command you provided is translated to the same postman script, so probably postman just has issue creating curl commands.

When I try your command, I still only get an empty pdf file and nothing is rendered there. I'm trying this with the image `arachnysdocker/athenapdf-service:3.0.0-b`

[2017-07-27 10:05] MrSaints commented on #123
That's interesting, could you try it with `curl` ? Is it perhaps not able to find the HTML file?

[2017-07-27 10:06] MrSaints commented on #123
Okay, ignore my previous message. I was able to replicate it on Postman.

[2017-07-27 10:08] pgrm commented on #123
I did try it with curl, and I'm getting still the same issue - I redeployed our docker-compose file and switched to `arachnysdocker/athenapdf-service:2.9.2` and now the curl command works - will check if my integration tests and postman also work, but it seems it's a bug with the currently deployed image 3.0.0-b ?

[2017-07-27 11:59] pgrm commented on #123
I can confirm, after going down to version 2.9.2 everything works as expected, back to version 3.0.0-b I'm getting empty pdf files rendered

[2017-07-27 12:19] MrSaints commented on #123
Thinking about it, yes, I believe this problem is likely due to how local file paths are being handled.

Unfortunately, I'm not sure if I'm keen on fixing `3.0.0-b` seeing that a lot of changes have been made to the underlying Athena `runner` since then (and we have created a new microservice assembly in the process).

On that note, I have pushed a new, pre-release of `3.0.0` to Docker Hub which s

[2017-07-27 13:37] #121 closed

[2017-07-28 13:16] anebi opened #124 "Links href outputted additionally in parentheses"
Hello,

I face the following issue and don't know how to solve it:

Href values of links on pages are directly outputted in pdf next to the link value (no matter if text or image). Is there a way to turn that feature off?

You can see how it looks on attachment:

![athenapdf-links-issue](https://user-images.githubusercontent.com/225278/28718762-032bc496-73b0-11e7-8fd2-8c458cb86e58.png)

[2017-07-28 13:28] MrSaints commented on #124
Hi @anebi,

It is not a feature on the side of Athena. It is triggered by the media type being set to `print` rather than `screen`. That is, you will need to change your print-specific styles.

If you are using Athena v3, you can set the media type to `screen` using: `-M="screen"`.
This is not available in `master` or v2 at the moment.

Let me know if that answers your question.

[2017-07-28 13:28] #124 closed

[2017-07-28 13:30] MrSaints commented on #122
Let me know if you have any additional questions.

[2017-07-28 13:30] #122 closed

[2017-07-28 13:30] #123 closed

[2017-07-28 13:47] anebi commented on #124
Hello,

Thank you very much for your fast reply and detailed explanation. I do run docker version arachnysdocker/athenapdf-service. I am not sure which version is installed on this docker image. athenapdf -V returns empty result.

I will looks for a solution to change the media type.

Thanks again! :)

[2017-07-28 13:52] anebi commented on #124
I can see that it is 2.9.2 actually. Is there a v3 docker image?

[2017-07-28 13:58] MrSaints commented on #124
Yes, have a look at: https://github.com/arachnys/athenapdf/issues/123#issuecomment-318345714.
There's been a lot of changes (undocumented for now). But, if you are using the service, there is currently no way of setting custom runtime flags.

Alternatively (and maybe simpler), you can just modify your CSS to remove the print-specific styles.
If you use Bootstrap, this is normally shipped with it b

[2017-07-28 14:03] anebi commented on #124
Thanks. For now this info is enough. I will take care from that point :)

Best regards,
Ali Nebi

[2017-07-31 20:18] Roosh513 opened #125 "Question: Processing extremely large HTML documents"
TL;DR - Can AthenaPDF be tuned to handle files 50+ MB in size? If not, is it a planned feature for a future release?

I recently started using AthenaPDF (Weaver) and am loving it! However, my application generates incredibly large HTML documents (50MB +). Even opening these files in a browser on my machine takes over 10-15 minutes to load. I can only imagine what our poor deployed instance of Weav

[2017-08-01 08:33] MrSaints commented on #125
Hi @Roosh513,

That's a great question. It depends on the nature of the file, but to be honest, I think most browser-based converters might struggle in this respect.

Chunking is actually a good way to handle a case like this. That is, chunking on the HTML side. The actual converter will not be able to figure out what it should chunk, but as the author of it, I am sure you can tune your applicatio

[2017-08-01 08:36] MrSaints commented on #120
I will have to test this out with the new service assembly in v3, but I am not currently aware of what needs to be done for this to happen.

[2017-08-01 08:39] MrSaints commented on #100
Sorry I haven't been able to test this out on a machine with FreeBSD, but if you ever run into this again, and if you have some spare time, give the new version a shot:

[code]

I'd love to see if it is still a problem! 😄

[2017-08-01 08:46] MrSaints commented on #53
Just an update. In v3, the service assembly will on longer _hit a target URI twice_.

The only caveat however, is that a **mime type will have to be specified or a fetcher**. Otherwise, there is no way to: 1. know what converter we should use if none is specified, and 2. inform the converter beforehand what the input file type is (which is essential in some cases).

I would advise against using a

[2017-08-01 08:47] #53 closed

[2017-08-01 08:48] MrSaints commented on #67
I have added this to the v3 board, but I do not think it is an immediate priority.

[2017-08-01 12:50] pgrm commented on #120
@MrSaints - not sure if this helps, but in the .Net version of the SDK, if no parameters have been provided, the SDK is trying out different ways to retrieve those credentials and eventually falls back it IAM. So in .Net I'd implement a check if the id and secret have been provided and pass them as parameters, otherwise let the aws client fall back to default values.

I'd guess that all their clie

[2017-08-01 14:34] Roosh513 commented on #125
That is helpful. I know the paradigm this project tries to follow is "do one thing, and do it well". I realize adding the option to split/merge documents may go beyond the scope of what AthenaPDF should be capable of doing. If you don't mind, I'd like to keep this thread open for a bit as an open conversation. I like the flexibility of building PDFs easily with HTML/CSS, along with the useful bonu

[2017-08-01 19:30] MrSaints commented on #120
@pgrm Oh, if that's the case, that's what v3, and the newest version of v2 does! 😄

See: https://github.com/arachnys/athenapdf/pull/97/files#diff-f6703b1f0e3c987ebae80ac0b97ff471R44

If that's the case, we should probably try it out, and close this issue.

[2017-08-01 22:23] pgrm commented on #120
seems like it's more difficult in GO - FYI - https://docs.aws.amazon.com/sdk-for-go/api/service/iam/

[2017-08-02 10:50] MrSaints commented on #120
@pgrm Looks like that's for interacting with the IAM API. For the session itself: https://docs.aws.amazon.com/sdk-for-go/api/aws/session/, it seems like IAM roles are supported if static credentials are not provided.

[2017-08-02 23:50] duncan-bayne commented on #100
@MrSaints Thanks - I'll give this a whirl shortly (just upgraded to FreeBSD 11.1) and will let you know how I get on.

[2017-08-03 10:31] marcushyett opened #126 "Image compression when generating PDF"
Some of our users generate PDF with lots of images, is there any way we can support generating PDFs with images automatically compressed in them?

[2017-08-03 10:35] MrSaints commented on #126
IMHO, my stance is similar to the comment I made here: https://github.com/arachnys/athenapdf/issues/125#issuecomment-319305382.

That is, I think it is out of scope. We could probably bake in a separate API or process stage to do pre- / post-processing (maybe using something like https://github.com/MrSaints/go-ghostscript or https://github.com/MrSaints/go-qpdf for linearization / compression), but

[2017-08-03 10:35] #126 closed

[2017-08-03 14:42] MrSaints commented on #125
@Roosh513 Yes, no worries, I can keep it opened.

At Arachnys, we are using HTML/CSS/JS for report creation as it allows us to take advantage of simple templating (e.g. in Django), and it is something most, if not all developers are familiar with.

There is definitely a tradeoff in terms of generation speed, but it is a tradeoff that we strongly feel is worth taking since it allows us to create, a

[2017-08-03 15:36] almini opened #127 "Converting page with self-signed certificate"
In v3 I get the following error when trying to convert a page with a self-signed certificate:
[code]
Unfortunately the option --ignore-certificate-errors does not work in v3.
In #40 it is mentioned that this issue should be resolved. Can you explain that further?

[2017-08-03 15:45] MrSaints commented on #127
Ah yes, I'll probably have to pass it (` --ignore-certificate-errors`) through the runner as well. Thanks for reporting.

[2017-08-04 06:25] GnrySgtSkitlz opened #128 "Constantly Receiving 400 Bad Request"
Hi,

Currently I have a HttpClient that I am trying to write a PostAsync for.
Here are some basics I have set:
`private const string _athenaUrl = "http://athenapdf:8080/convert?auth=arachnys-weaver&ext=html";`
`private string _filePath = "/Project/Test.html";`

Here is where I am trying to create the MultipartForm to provide to the AthenaPdf api
`var request = new MultipartFormDataContent();`
`req

[2017-08-05 09:03] MrSaints commented on #128
Hi Clinton,

When you receive a 400 Bad Request error, what is the exact error message you are receiving? Can you find out?

Thanks!

[2017-08-05 11:04] MrSaints commented on #127
This should now be fixed.

See 45e65b46f960d51e9c9d4554379160f0509db72b for more information.

I'll push it up to Docker Hub shortly.

Thanks for reporting it!

[2017-08-05 11:04] #127 closed

[2017-08-07 00:55] GnrySgtSkitlz commented on #128
Hi MrSaints,

I managed to figure out what was wrong, I had to remove setting the Content-Type as .net already handles this by default as i have specified the types for the objects.

Thanks,
Clinton

[2017-08-07 09:32] MrSaints commented on #128
@GnrySgtSkitlz, that's great!

As for your second question, that's not possible at the moment. It is something that you will have to set at runtime. I was considering this in v3, but at the moment, that too is [not configurable](https://github.com/arachnys/athenapdf/blob/v3/pkg/converter/athenapdf/athenapdf.go#L29).

[2017-08-07 09:46] #128 closed

[2017-08-07 19:48] Roosh513 commented on #125
Conductor actually looks like a fantastic option and is a great idea, as it already supports orchestration of simple HTTP POST requests as a task. It would just be up to me to define the JOIN task to stitch them back together. I will explore this idea a bit since it looks like Conductor already does what I want and prevents me from having to manage task state myself. It's [dockerized](https://netf

[2017-08-10 16:42] almini opened #129 "Options not working in athenapdf-service v3"
I tried to pass options to the athenapdf-service:3 but it seems that either my query is wrong or it doesn't work properly.
My request looks like this:
[code]

The cmd version options work without issues.

[2017-08-10 18:39] MrSaints commented on #129
Thanks for reporting this @almini. Looks like the service does not handle `jsonpb`. I have a fix which I will push up shortly. You should also alter your process JSON string to look like:

[code]

[2017-08-10 18:59] #129 closed

[2017-08-10 19:11] MrSaints commented on #129
If you pull the latest image, it should work as expected now (bearing in mind the example I gave):

[code]

[2017-08-22 13:18] Milek7 opened #131 "Crashes at high resolution PNG"
minimal testcase:
`<img src="img.png">`
img.png is 4300x2800 white png. (doesn't have to be exact that, just big)

[code]

[2017-08-22 15:38] MrSaints commented on #131
Duplicate of #95

[2017-08-22 15:38] #131 closed

[2017-08-23 01:51] veqryn opened #132 "Generate images?"
Would you consider adding the ability to generate images (jpg, png) to athena?

[2017-08-23 08:05] MrSaints commented on #132
It is not an immediate priority.

https://github.com/arachnys/athenapdf/issues/31

[2017-08-27 17:36] dplong opened #133 "Unable to find image 'athenapdf:latest' locally"
I installed and attempted to run athenapdf  on Ubuntu 16.04 according to the simple instructions at http://www.athenapdf.com/  However, it's failing (see below). I have no experience with docker so don't know if this a docker problem or an athenapdf problem. Any idea what's wrong?

[code]

[2017-08-28 11:12] MrSaints commented on #133
The image you are using on `docker run` should be `arachnysdocker/athenapdf`. That is, it should look something like:

[code]

[2017-08-28 15:20] dplong commented on #133
That's it. Thanks. The way it's presented on http://www.athenapdf.com/ makes it a bit ambiguous:

[2017-08-28 15:20] #133 closed

[2017-08-28 20:15] dplong opened #134 "ERR_CONNECTION_REFUSED"
I can view my source .html with Chrome, use wget to retrieve it, and convert it with wkhtmltopdf. However, when I use athenapdf, I get ERR_CONNECTION_REFUSED. Any idea why? I'm serving it via the builtin HTTP server in Jekyll.

Here's the wkhtmltopdf command that works:

Here's the athenapdf command that doesn't:

This is the error I get from athenapdf:

[2017-08-28 23:03] MrSaints commented on #134
Ah yeah, that's something we should probably include in the documentation. But, as it is running inside Docker, you can't really convert _localhost_, as it would point to _localhost_ within the Docker container's network. That is, unless you run it with `--network="host"`. Otherwise, replace `localhost` with your LAN / internal IP.

[2017-08-29 00:37] dplong commented on #134
I got it to work with the IP address and --network="host". However, 127.0.0.1 didn't work. I'm going with the --network="host" solution.

BTW, athenapdf takes 30 seconds to convert my three .html files whereas mkhtmltopdf takes ten minutes.  BIG improvement, plus athenapdf doesn't split a line across a page break like wkhtmltopdf does occasionally. There are other problems, though, that I'll take

[2017-08-29 00:37] #134 closed

[2017-08-29 00:41] dplong opened #135 "CSS background-image not rendered"
I have several .png files referenced in my styles.css file like this:

However, athenapdf does not render them. Is this a known problem? There is just a blank area where the image should appear.

[2017-08-29 08:21] MrSaints commented on #135
It should render with a background image by default. Try setting `-Z 3` or higher. It might be related to the scaling. I am assuming you are trying to convert a site on `localhost` ?

[2017-08-29 16:34] dplong commented on #135
That didn't help. The same HTML renders correctly with wkhtmltopdf. This is the command I used:

[2017-08-29 16:37] MrSaints commented on #135
Out of curiosity, a. how are you linking the stylesheet? and b. can I have a look at your stylesheet?

Finally, can you try using the following:

[code]

[2017-08-29 17:09] dplong commented on #135
athenapdf:3 didn't help. I'll see about putting together an isolated stylesheet and HTML that exhibits the problem.

[2017-09-19 09:27] mreppe opened #137 "cloudconvert - No API Key provided"
I'm getting the following error:
400 Bad Request: {"error":"cloudconvert conversion failed:\nmap[error:No API Key provided! code:401]"}

I use the docker image "arachnysdocker/athenapdf-service:3" with the default configuration. I did not configure cloudconvert.

I'm not getting this error every time. Only sometimes the conversation fails.

[2017-09-27 16:49] almini commented on #137
There exists a parameter which you can use to set the converter which will be used.
It seems that when no converter is set it also tries cloudconvert.
What I find strange though is that the error only occurs sporadically, but there might be an explanation for this too.

Here is an example of a request using this parameter:
[code]

[2017-09-27 19:24] MrSaints commented on #137
@mreppe `arachnysdocker/athenapdf-service:3` I believe is in an in-between state of not v2, and not entirely v3 either... sadly. I'd suggest sticking to the latest or v2.

The options provided by @almini are for the service that is still in development.

[2017-10-03 15:10] Fuco1 opened #138 "Possible to send multiple files (images, css files)?"
I'm uploading the html file in the `file` form but it requires some additional files like images and styles.  Is there some way to send more than just one file to the server?  I would really like to avoid setting up a http server to serve the page just so it can get rendered.

I'm using athena from a node application which genedates contracts, so I just generate the data, render a handlebars templ

[2017-10-03 15:21] MrSaints commented on #138
Unfortunately, it is not currently supported, and I'm not sure how we can go about supporting something like this - open for ideas (maybe zipped file?).

For the time being, you can resolve your problem by sending a MHTML file or by simply inlining all your assets.

[2017-10-03 15:43] Fuco1 commented on #138
Yea, the idea of inlining occurred to me right after I opened this issue :blush: I've found this https://github.com/remy/inliner which seems to work and the "packed" html file renders correctly.

I think we can close this and in the future people will just have a reference to a solution.  Probably not worth messing around with zip files.  What do you think?

[2017-10-03 16:01] MrSaints commented on #138
Yes, I agree. I'm not too keen in building to address complex workflows. The orchestration of these workflows should live outside of the converter.

[2017-10-03 16:01] #138 closed

[2017-10-10 04:14] arosequist opened #139 "Upload and return contents"
If I pass in `s3_key`, `s3_bucket`, etc, then athena will successfully convert my file and upload it to my S3 bucket. However, it then only returns `{"status":"uploaded"}`. Is there a way for me to have athena upload to S3 _and_ still return the contents to me?

[2017-10-18 02:18] alanmrvl opened #140 "Specifying window-status plugin for v3 web service"
Is it possible to run the window status plugin via the v3 web service? I have tried something like the following, but it does not appear to be working.

[code]

[2017-12-05 11:16] winteraz opened #141 "is it possible to use it as a library?"
I'm trying to figure out how to use athenapdf as a library. I just want to handle the conversion directly without docker, queues, electron and other stuff.

 E.g. ``func ConvertHTMLToPDF(htmlContent []byte)(pdfCOntent []byte, err error)``. Where can I find the core code that handles the pdf conversion?

[2017-12-15 14:15] MrSaints commented on #141
Apologies for the very slow response @winteraz.

Yes, you can use it as a library. It is probably easier in v3 than it is in its current incarnation.

See: https://github.com/arachnys/athenapdf/tree/v3/pkg

You can see how it is being used as a library [here](https://github.com/arachnys/athenapdf/blob/v3/cmd/cli/main.go).

Bear in mind, if you use the Chrome-based converter, you will have to have

[2018-01-05 19:14] Ethaan opened #142 "Converting localhost HTML"
Hi!

I'm trying to convert an HTML from my localhost.

So for example, I have some files under.

`http://localhost:3000/test.html` or a dynamic one under `http://localhost:3000/invoiceHTML/qTeKYkzB7knm2LQh7`

And when I try to convert them like

[code]

This return.

[code]
There are 2 things happening here.

1.- Using another website URL apart from localhost *make it works* (like `https://www.was

[2018-01-06 00:17] Alttaf opened #143 "v3 ETA"
when are you planning to release v3?

[2018-01-06 15:47] dbuxton commented on #142
Presumably it's because localhost doesn't point to the same place within the docker container?

[2018-01-07 20:01] Ethaan commented on #142
Yeah that make sense, so here what should be more convenient?

1.- forward docker VM to bind into my localhost?
2. do something (idk what) to point my localhost to docker host?

[2018-01-08 09:39] MrSaints commented on #142
@Ethaan You can expose your host `localhost` as something like `dockerhost`. There are some solutions highlighted [here](https://github.com/moby/moby/issues/1143) (basically, you need to access the internal network IP or map some host to it). You could also share the same network as your host, but I strongly suggest you do not do this.

I'm closing this issue as it is more a constraint of Docker,

[2018-01-08 09:39] #142 closed

[2018-01-08 09:41] MrSaints commented on #143
@Alttaf Sadly, there's no ETA at the moment as I am mostly working on it in my spare time. It is pretty much _good to go_. But there's some crucial missing parts along metrics / instrumentation, documentation, and testing. That being said, the core libraries are complete, so if you want to use it as a library, that should be OK.

[2018-01-08 15:43] Ethaan commented on #142
@MrSaints thanks for the link.

Following them, I think they give me into the correct direction, but still making calls like.

`http://localhost:4080/convert?auth=arachnys-weaver&url=http://localhost:3000/html/157` returns.

[code]

I might be on the correct road but I think I'm missing something very obvious.

I'm running `athena` like.

`docker run -d -p 4080:8080 --add-host='localhost:192.168.1

[2018-01-08 16:21] MrSaints commented on #142
@Ethaan Can you check if whatever service underlying `http://localhost:3000/test.html` is actually allowing hosts outside of `localhost` ? That is, it should be binding to `0.0.0.0`.

You can also try something like:

[code]

And try do a cURL to `localhost`, `dockerhost`, etc (whatever you used) from there?

[2018-01-09 06:27] Ethaan commented on #142
@MrSaints you right, using `--add-host='localhost:192.168.1.73'` was working, my issue was that `/etc/hosts` was using not correctly updated.

Thanks for the help!

[2018-01-15 14:33] aravinthchandramouli opened #144 "There is a difference in the final pdf generated using athenapdf.com and our own docker instance"
We use the same input html file url in both athenapdf.com and as an input for the docker instance running on our server. We see a lot of difference between the two outputs (especially page margins and paddings). We made sure we use the latest version of athena API.

Attached the appropriately named generated PDF files from both.

[our-docker-instance-generated.pdf](https://github.com/arachnys/athe

[2018-01-15 14:54] MrSaints commented on #144
Since late last year, we have been trial'ing parts of v3 on our demo website. That is likely to explain the difference.

[2018-01-18 12:53] scream314 opened #145 "Athenapdf container memory usage"
I am using `athenapdf` on AWS ECS for generating my PDFs. There are 2 round-robin balanced `athenapdf` instances with the host's `/dev/shm` mounted.
This setup is working very well, but after a time I noticed that the `athenapdf` containers are using ~1.6-1.7GB RAM each.
If I restart them, they start with a much lower memory usage which increases with time, until almost all free memory is consumed

[2018-01-18 14:35] MrSaints commented on #145
We have a similar set-up, and to be honest, we observed a similar pattern in terms of memory usage.
It wasn't always like this. In fact, in the older versions of Docker, and the ECS agent, it would always sit at a stable level.

I tried investigating this a while ago, and delved into the container to see which process was taking up the memory. I couldn't quite identify what was taking up all the m

[2018-01-18 16:27] scream314 commented on #145
@MrSaints

I was not completely sure until now, but I also think the memory usage was lower with older versions (unfortunately cannot downgrade right now). As v2 was frozen, I updated all my containers to `v2.10.0`.

Same here so far, but I could use that memory for something else.

[2018-01-18 16:35] MrSaints commented on #145
@scream314 You can define hard memory limits on your ECS task definition.

[2018-01-18 21:56] scream314 commented on #145
@MrSaints I know, but if the container reaches the hard limit it gets killed ("If your container attempts to exceed the memory specified here, the container is killed." at https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html#container_definitions), and it is something I want to avoid.
I will take look at the memory usage inside the container and play around w

[2018-02-01 10:11] arbabnazar commented on #122
@MrSaints can you please point me to the Dockerfile(there are two in the repo) so that I'll start it. Thanks

[2018-02-01 11:59] MrSaints commented on #122
@arbabnazar https://github.com/arachnys/athenapdf/blob/master/cli/Dockerfile

[2018-02-16 15:16] scream314 opened #147 "arachnysdocker/athenapdf:latest: "No URI given. Set the URI to `-` to pipe HTML via stdin." while old version was starting - [WRONG IMAGE USED]"
I tried to use the latest Docker container and started it the same way I used the older versions:
[code]
The container logs show the following:
[code]
How to start the new version to run forever and listen to incoming requests?

[2018-02-16 15:31] scream314 commented on #145
It looks like `docker stats` is reporting wrong values for memory usage (taking buffer/cache also in account), so the actual usage is somewhat lower.
Changed max workers to 5 and will update Docker on the weekend and see if it makes any difference.

[2018-02-19 12:41] scream314 commented on #147
Ok, my mistake, I tried to start the CLI instead of the microservice.
Using `arachnysdocker/athenapdf-service` works as expected.

[2018-02-19 12:41] #147 closed

[2018-02-20 09:45] scream314 opened #148 "How to use v3 microservice?"
(I know v3 is still WIP.)
If I start the microservice like
[code]
and try to do an inline conversion
[code]
the only response I get is
[code]
and nothing gets logged, even if the `-D` flag is set (and it is clearly visible in the logs that `debug` was set as it states `debug=true`).

### My question is
How to use v3? Is the v3 microservice already functional at all?

[2018-02-20 12:03] imjustd opened #149 "v3 CLI for Windows and Linux"
I prefer to use CLI and don't want using Docker for generating PDFs. So I'm little lost with the CLI, I just don't know how to make one.

I interested in having Windows CLI, but if that's not possible, how to build a CLI for Linux? A step by step guide is greatly appreciated. Thanks!

[2018-02-20 16:23] scream314 commented on #145
I am convinced it is "cached" memory reported as "used".
In the container if I do
[code]
it gives
[code]
which looks fine, realistic and nice.

At the same time `docker stats` says the container consumes 1.566GiB, which is a lot.

My conclusion at this point is, this high reported usage is caused by caching and it is a lie.
I'll close this issue as this did not cause any issues so far and seems to

[2018-02-20 16:23] #145 closed

[2018-02-21 09:44] MrSaints commented on #145
Sorry for the lack of response @scream314. We use soft limits on memory consumption, and we noticed the microservice never really goes above it (it edges close to it).

Yes, our prior investigations revealed the same. And it was related to an upgrade in both the ECS agent, and underlying Docker daemon (as highlighted previously).

[2018-02-21 09:49] MrSaints commented on #149
Apologies, this isn't going to be the most detailed guide for Linux @imjustd, but:

1. Install [Go](https://golang.org/)
2. `go install -i github.com/arachnys/athenapdf/tree/v3/cmd/cli`, you should then find it in `$GOPATH/bin`
3. Alternatively, you can navigate to that Go package ($GOPATH/src/...), and execute `go build`

As a prerequisite, install Chromium >= 60 (headless) where you are running

[2018-02-21 09:52] MrSaints commented on #148
@scream314 First, thank you so much for playing around with v3 👍And apologies that it has been quite lacking in both documentation, and updates.

Second, there are some sample cURL requests in https://github.com/arachnys/athenapdf/issues/123#issuecomment-318345714.

[2018-02-21 09:55] scream314 commented on #145
@MrSaints Thank you for the response.

Could you please help me a little bit more and tell me what is your ECS Task **soft limit**, the **memory consumption** of the microservice container reported by `docker stats` and the **result of the command** `PIDS="$(cat /sys/fs/cgroup/memory/cgroup.procs)"; for p in ${PIDS}; do cat /proc/$p/status | grep 'VmRSS'` executed inside of the container (only the

[2018-02-21 09:59] imjustd commented on #149
Thanks! I'll try it out.

[2018-02-23 15:03] basz commented on #123
how about the auth param? doesn't seem to work

[2018-02-23 16:37] MrSaints commented on #123
There shouldn't be any auth in v3 @basz.

[2018-02-24 19:33] basz commented on #144
On a quick trail run with v3 I noticed that stylesheets werent applies for loading a uri. Is there some additional Param or option I should set?

[2018-02-25 18:03] MrSaints commented on #144
@basz They should always load. If it's possible, can I have a look at the HTML for the URI you tried to load? (omit confidential details)

[2018-02-26 13:22] basz commented on #144
HI @MrSaints this source https://gist.github.com/basz/67f047443f261d921486e8a5c2f80b6b renders in v2 as https://share.bushbaby.nl/poQrP8Zrtq/ and in v3 as https://share.bushbaby.nl/6LeSPy0Z8f/

[2018-02-26 14:00] MrSaints commented on #144
Interesting @basz. Is `/css/admin/reporting.css` accessible ? Also, can you remove `media="screen, print"` (I don't think it'll change anything, but worth trying).

[2018-02-26 15:55] MrSaints commented on #144
Silly Q, is the main page / URL showing up in the Apache logs?

[2018-02-26 15:58] basz commented on #144
yes, as `"GET /admin/orders/reporting/order-costing?standalone=1&i=11411-13600-18113&sess=xx HTTP/1.1" 200 4636 "-" "Go-http-client/1.1"`

[2018-02-26 16:00] MrSaints commented on #144
- Are you using the CLI or the microservice?
- What's the command / configuration you used to start the CLI or the microservice?

[2018-02-26 16:03] basz commented on #144
[code]
then
[code]

[2018-02-26 16:09] MrSaints commented on #144
From the looks of it, it's relying on a HTTP fetcher (the `fetcher=http` bit). So what that means is it will download the HTML for conversion locally. The URL for the stylesheet will not resolve if we are converting locally. You can either change that URL to include your full host or get rid of `fetcher=http`, and set `mime_type=text/html`.

[2018-02-26 16:26] basz commented on #144
yes! awesomeness. thank you!

[2018-02-26 17:05] basz commented on #144
No v3 docs yet are there?

[2018-02-28 19:32] supermanzer commented on #123
Any ideas why I receive a 404 when running the GET curl request listed above?

[2018-02-28 20:14] supermanzer commented on #123
I'm using v3 as a component service in a larger Docker project.  I was running some tests and, while GitHub rendered properly, I got an odd PDF when I ran the cURL request against nytimes.com.
[test.pdf](https://github.com/arachnys/athenapdf/files/1768685/test.pdf)
Any Ideas on how to avoid the lack of styling?

[2018-03-01 17:58] supermanzer opened #150 "Weaver microservice not rendering styles/images"
I have the weaver implementation of AthenaPDF running in a docker container as a service in a multi-service application.  One aspect of my application involves generating PDFs from rendered HTML code.  I have created end points that render the page exactly as I would like it displayed in the PDF.  I am making extensive use of Bootstrap 4 style classes as well as some static images.

When I pass th

[2018-03-07 19:25] kmontg03 commented on #42
Is this a feature that would need to be implemented in Electron as well to support the templated header/footer?

[2018-03-08 15:26] bigfish commented on #42
I checked out v3-WIP branch, & built CLI, but don't see any new CLI args to indicate this is currently available.. is it hidden, or not yet available?

[2018-03-26 08:25] byrnedo commented on #141
Hi, how stable is the converter package? Do you treat it as public or does the interface change often?

[2018-04-16 07:44] aravinthchandramouli opened #151 "PDF conversion failed due to an internal server error"
Unable to convert any url to pdf in the docker service that we have started. Tried restarting the service as well.

[2018-04-16 08:36] MrSaints commented on #151
Can you check the Docker logs?

[2018-04-16 13:38] aravinthchandramouli commented on #151
The docker service abruptly stopped which is why there was an issue. Will close this issue. But can you tell me where to check the logs for athena?

[2018-04-16 13:38] #151 closed

[2018-04-16 13:43] MrSaints commented on #151
There's quite a lot of logging information written to stdout by default, so you can just use `docker logs <container ID>` (the ID can be found in `docker ps`) or depending on how you are running it, it will be sent to the logging driver of your choice.

[2018-04-20 15:44] Selion05 opened #152 "renderer process crashes"
First of all it I'd love to replace wkhtmltopdf!  So  I tried a few pages, the look pretty good! but athena crashed with your blog :/

[code]
[code]
[code]

[2018-04-20 15:55] dbuxton commented on #152
I guess big images? I just tried on https://www.athenapdf.com and it seems to work OK. Ends up with a 16MB file though so...

[2018-04-20 15:55] #152 closed

[2018-04-20 16:04] Selion05 commented on #152
true on athenapdf.com it works... is it the same dockerfile?

[2018-04-23 09:40] aravinthchandramouli opened #153 "PDF conversion getting timed out"
Getting the following response when trying to convert an HTML to PDF.
{"error":"conversion timed out"}
HTML works fine.

[2018-04-24 16:02] fchenebault opened #154 "Add content-length on returned header"
It would be very nice if the Content-length could be set in the response when asking Athena to build a new PDF using the rest API !

[2018-04-25 08:28] mirkea opened #155 "Are the generated PDFs PDF/A compliant?"
Here is [an example of what I get](https://dl.dropboxusercontent.com/s/en2djuno5c742pw/shot_180425_112452.png) when validating a PDF generated from a simple HTML page through athena PDF.

[2018-05-11 01:41] will76 opened #156 "How to perform batch conversion? (aka one url per line)"
Could not find a way to point to a file containing for example one url per line.

How can we do it?

Thanks

[2018-05-11 07:43] MrSaints commented on #156
@will76 That's not currently possible. I can consider it for a feature for v3, but to be honest, I am not too keen on building any sort of complex conversion workflow into the service. I think there are better tools out there to assist with the orchestration. e.g. https://netflix.github.io/conductor/

[2018-05-11 11:02] will76 commented on #156
@frankh That is exactly the workaround for the lack of this feature.

@MrSaints I'm relatively(not to say noob) new to Docker, Go and this Microservices concept, so I cannot provide any contribution on this. But I mean, this is a piece of software that **must** take an input as argument to run. Performing batch jobs should definitely be a feature.

Anyway, thanks!

[2018-05-11 11:09] dbuxton commented on #156
Hmm feels to me that it's not really a "workaround" but more the Unix philosophy of how to compose tools... I'm going to close this, kudos to @frankh for the support.

[2018-05-11 11:09] #156 closed

[2018-06-03 13:26] Shou commented on #118
Another heuristic that can be used to determine if the page is 'ready' is requests made, as in dynamic content loaded after `onload`. If the requests stop we have some additional degree of confidence.

[2018-06-07 07:47] marteb opened #157 "docker build fails at „Step 5/11 : COPY build/weaver /athenapdf-service/“"
i’m trying to build a docker container image to deploy it to Amazon ECS, but the docker build command (`docker build -t martineberle/athenapdf-service .`) fails at `Step 5/11 : COPY build/weaver /athenapdf-service/` with this error:

`COPY failed: stat /var/lib/docker/tmp/docker-builder025847287/build/weaver: no such file or directory`

Am i doing something wrong?

[2018-06-07 09:43] MrSaints commented on #157
The build for v1/v2 is pretty dated in terms of Docker workflow.

Give `make buildservice` a try @marteb :)

[2018-06-07 11:30] marteb commented on #157
Ok, thanks. That worked.

[2018-06-07 11:37] MrSaints commented on #157
Awesome! Apologies for the not-so-straightforward-setup.

[2018-06-07 11:37] #157 closed

[2018-06-15 21:14] pheuko opened #158 "Is there any way to add/edit PDFs metadata?"
I would like to add an author metadata to generated PDFs, is it possible?

[2018-06-17 11:41] MrSaints commented on #158
It is not currently possible. That said, you can do that using GhostScript pretty easily (or even exiftool).

The converters we currently support, and will be supporting in the future do not have an option to specify the author or other metadata. Introducing metadata will therefore require another stage in the conversion process, and I'd be leaning more towards using a process / workflow manager t

[2018-06-17 14:32] #158 closed

[2018-06-25 09:49] carvilsi commented on #94
Hi all,
Just to say thanks to @MrSaints for this nice workaround and small comment, if you are going to use `pdftk` to merge both PDFs you can avoid the use of GhostScript to count pages and also use `pdftk` for this:
[code]

[2018-07-03 15:12] jeffdeville opened #161 "Errors running arachnysdocker/athenapdf-service:2.12.0 in k8s"
Here's an example of the logging errors:

E  [Worker #3] processing conversion job (pending conversions: 30)
E  [AthenaPDF] converting to PDF: /tmp/tmp895906717.html
E  captured errors:
E  Error #01: exit status 1 :
E  (athenapdf:16901): Gtk-WARNING **: cannot open display: :99

execing into the box does not include the tmp files, but presumably it's cleaning up after itself, since the error impli

[2018-07-03 15:20] MrSaints commented on #161
There's a PR opened https://github.com/arachnys/athenapdf/pull/159/files that will address cases where the display server dies. In such a case, a simple check on k8s side should be enough to automatically restart the pod.

[2018-07-04 08:29] Brainshack opened #163 "Is there a way to pass HTML to the microservice, rather then having it call a URL?"
Hi,

is there a way to pass the HTML to generate the PDF from via HTTP Request, rather then a URL ?

[2018-07-04 14:54] frankh commented on #163
Regarding the title: yes - make a post request with HTML as the request body

[2018-07-05 12:46] MrSaints commented on #161
@jeffdeville, we merged the aforementioned PR, and released it under https://github.com/arachnys/athenapdf/releases/tag/v2.13.0. Give `arachnysdocker/athenapdf-service:2.13.0` a try as we are using it on Kubernetes as well without any problems.

[2018-07-05 12:46] #161 closed

[2018-07-06 12:05] ozonni commented on #106
we have the same issue
[code]

Our ECS task definition
[code]

[2018-07-11 17:14] josselin-c opened #165 "Replace package satori/go.uuid"
This issue has been opened automaticaly because we think you are using satori/uuid in your code. Unfortunately, satori/uuid has a critical defect where it doesn't generate random UUIDV4s satori/go.uuid#73 and should be replaced as the maintainer has been unresponsive for 5 months with the bug still open. Alternative packages you should consider: https://github.com/google/uuid https://github.com/pb

[2018-07-11 17:52] MrSaints commented on #165
Thank you for reporting the issue. We use the package to generate temporary file names. In fact, we do not really need the package.

[2018-07-11 17:52] #165 closed

[2018-07-13 14:53] benjhess opened #166 "v3 webservice - env variable for athenapdf cli command? how to enable "window-status" plugin?"
Hi there,
in v2 we had WEAVER_ATHENA_CMD env variable to set athenapdf cli command. How can this be done in v3 webservice? I try to enable the "window-status" plugin... Maybe this can be set via query string params? I found no documentation about this and also nothing in the code of v3 or v3-wip branch.

what i tried so far:
`docker run --rm -e WEAVER_ATHENA_CMD="athenapdf --plugin=window-status"

[2018-07-14 12:05] tarun29061990 commented on #163
Yes there is a way and I just implemented it in python

html_string = '<html><head></head><body>Hello</body></html>'
url  = 'http://<microservice_url>/convert?auth='AUTH_KEY'&ext=html'
r = requests.post(url, files=dict(file=html_string))

open('test.pdf', 'wb').write(content)

[2018-07-14 12:53] tarun29061990 opened #167 "Clearing tmp folder"
As athena microservice creates file in tmp directory of docker. So how to clear it?

[2018-07-24 14:05] maxshuty opened #170 "window-status plugin is broken"
If I do this:
`docker run --rm -v $(pwd)/conversions arachnysdocker/athenapdf:3 http://myLocalHost/endpoint --no-cache --plugin=window-status --media-type="print" --custom-header="key"="value"` the PDF gets generated. However, it does not wait for my `window.status` to be set.

I have submitted a PR for the `window-status` plugin to fix the issue of it requiring a `WINDOW_STATUS` variable to be pr

[2018-07-25 13:34] maxshuty commented on #148
http://localhost:5555/process?uri=https://google.com&mime_type=text/html seems to work.

[2018-07-30 21:48] lvanngo commented on #141
@winteraz I'm new to golang--Trying to figure out how to use athenapdf as a library.  Did you figure it out?  Can you please post some examples?  I have generated static html in go and would like to dynamically send this to some api to generate pdf stream for http response.  Thanks ahead!

P.S.  What other non-go dependencies are assumed during runtime?

[2018-07-31 14:31] Brainshack opened #171 "Font and background of of generated PDF greyish"
Hello,
from the very simple HTML that I generated PDF with, using v3 of Athena, the color of the background and the normal font is slightly off. It appears to be grey, and not like I would expect black on white background.

See: https://759b7.s3.eu-central-1.amazonaws.com/pdf/5b6071ecd83268.70933292.pdf

This is the HTML:
https://pastebin.com/eV6n8ZiF

[2018-07-31 15:15] Brainshack commented on #171
This seems to be a CSS issue. The default styles of the PDF Generator seem to be a bit off. When I overwrite styles with a high specificity, I can get them to render in the right color. This is a workarround. Would love to know how to fix this permanently though.

[2018-08-06 22:20] lvanngo opened #173 "Go Dep Ensure throwing Errors: Please update your Dependencies and Regenerate toml and lock Files"
Thanks so much for your work!  We got this working on Linux--I have trouble with my mac but that's why we need the build to work so I can rely on our Linux Instances directly.  Currently though when running dep ensure, the following error occurs:

# golang/vendor/github.com/arachnys/athenapdf/pkg/runner
../vendor/github.com/arachnys/athenapdf/pkg/runner/cdp.go:79:18: not enough arguments in call t

[2018-08-07 12:42] lougreenwood commented on #42
For headers and footers, can't we just use the `@top-center` `@bottom-center` rules in an `@page{}`?

https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

[2018-08-08 11:02] lougreenwood opened #174 "break-before/page-break-before CSS rules in V2?"
Do these rules work in V2? I can't seem to get them to be applied to a block-element.

Perhaps Athena PDF V2 doesn't render as a printed page in electron, so these print-related CSS rules are ignored?

https://developer.mozilla.org/en-US/docs/Web/CSS/break-before
https://developer.mozilla.org/en-US/docs/Web/CSS/page-break-before

[2018-09-14 09:43] Tyga76 commented on #142
@Ethaan I suggest you use host.docker.internal for localhost in the URL on Mac. This way you preserve the localhost of the container.

`http://docker.for.mac.localhost:4080/convert?auth=arachnys-weaver&url=http:// host.docker.internal:3000/html/157`

hope this helps

[2018-10-09 14:33] mthomasuk opened #179 "Question: golang example of sending up an HTML string"
Sorry guys, I know this is pretty basic, but can anyone help me with some example code of converting an html string into a PDF using golang and `athena/weaver`? This is what I've got so far:

[code]

but I'm always returned a PDF that looks blank, but has some content:

[code]

apologies in advance!

[2018-10-10 08:36] #179 closed

[2018-10-10 08:36] mthomasuk commented on #179
Figured it out - nevermind!

[2018-10-23 17:28] mmaryo opened #180 "Convert with html in request body"
Hello

I would be great to convert an html String directely by using url

POST
http://localhost:8080/convert?auth=arachnys-weaver
Params: html=<html><body>Hello</body></html>

Thanks

[2018-10-24 16:30] sanohin commented on #68
Fixed in #181

[2018-10-24 16:30] #68 closed

[2018-10-24 16:41] sanohin commented on #174
Fixed in #181

[2018-10-24 16:41] sanohin commented on #174
Fixed in #181

[2018-10-24 16:41] #174 closed

[2018-10-24 16:48] sanohin commented on #135
Fixed in #181 .

[2018-10-24 16:48] #135 closed

[2018-11-05 21:50] kissifrot commented on #149
@imjustd How did it go?

[2018-11-11 13:49] kdolan commented on #42
@MrSaints Any updates on v3 support for this feature? We really appreciate this project and it has saved us so much time and effort. Proper headers and footers is the only thing holding this back from being the holy grail of PDF generation for us.

[2018-11-12 08:50] imjustd commented on #149
@kissifrot I actually decide to use [electron](https://github.com/electron/electron) directly for generating the PDF. See `printToPDF` method here https://electronjs.org/docs/api/web-contents#web-contentsprinttopdf

[2018-11-12 08:50] #149 closed

[2018-11-21 18:14] yuzhenmi opened #182 "Support for additional storage backends, in addition to S3?"
First off, thanks for this awesome project!

I really like that Weaver comes with S3 integration. Unfortunately, I'm not using AWS for this new project. Is there any way to integrate with a different storage backend? Or just a custom S3 endpoint? I'm on GCP and Google Cloud Storage supports an S3-compatible API, but I couldn't figure out how to hook up Weaver to use a custom S3 endpoint. Is this p

[2018-12-04 17:36] POD666 commented on #166
'wait-for-status' is backported to athena v2 in https://github.com/arachnys/athenapdf/pull/162
You can find `c.GetQuery("waitForStatus")` in changes and looks like it's missing in athena v3.

Try `curl -L http://localhost:8080/process?uri=http://192.168.1.228:9191&fetcher=http&waitForStatus  > test.pdf`.

Alternatively try to add `--wait-for-status` to `WEAVER_ATHENA_CMD`

[2018-12-05 10:21] POD666 commented on #180
In python you can do it with
[code]

[2018-12-06 19:34] kohlerdominik opened #184 "[Weaver] Suggestion: Disable Auth Key"
I think it would be great if the auth_key could be disabled. We are using Athena in a k8s-Cluster, so its not available from outside. With that in mind, it just makes the auth an extra failure cause.

I think this could be as easy as adding the environment-variable WEAVER_DISABLE_AUTH and just checking it in the middleware. Sadly, i don't have any skills in go, so i can't make my own PR. However,

[2018-12-07 10:47] POD666 commented on #184
You can try to do it without deep skills in Go:
1. Define `WEAVER_DISABLE_AUTH ` [here](https://github.com/arachnys/athenapdf/blob/master/weaver/config.go#L103) in the same way as other variables.
2. Add condition on [this](https://github.com/arachnys/athenapdf/blob/master/weaver/main.go#L69) line using config defined in previous step.

[2018-12-15 01:00] mmaryo commented on #180
Thanks
And it would be great to be able to put html content as request body

[2018-12-21 22:17] lkb2k opened #185 "Emoji Support?"
We use athenapdf to generate PDFs of our receipt pages.  Recently some customers have been putting emoji into their gift notes, but they don't display in the PDF output.  Is there a way to get emoji to render properly in text?

[2018-12-22 12:15] MrSaints commented on #185
Yeah, we can probably install a font for that 🙈

[2019-02-10 21:20] goodspark opened #188 "Support for Datadog APM tracing?"
Would it be possible to get Datadog APM integrated?

Thanks for building this microservice out!

[2019-02-11 22:15] #144 closed

[2019-03-13 15:19] mmaryo commented on #180
And with Java ? It's not work
I can not use it

[2019-03-13 16:14] MrSaints commented on #180
You can already convert HTML via a POST request body. As for converting via a string from the URL parameter, I will have to veto this as most browsers do not support URLs with > 2000 characters, and I just don't think it's an appropriate way to transfer a "file" for conversion.

[2019-03-13 16:14] #180 closed

[2019-03-19 17:52] djackson-saa commented on #153
I am experiencing something very similar.  When I attempt to convert http://blog.arachnys.com/ to a PDF I get "The server didn't respond in time."  However if I hit the base URL of my host I get a status of "online".

[2019-03-19 18:05] MrSaints commented on #153
You can try increasing the timeout, but I reckon this is related to: https://github.com/arachnys/athenapdf/issues/125. In the case of the blog, it is probably because of the large images. It also doesn't help that this converter is fairly bulky (relying on Electron, and running with Xvfb).

Out of curiosity, what is your [conversion] workflow like? I ask because in many cases as of late, it is far

[2019-03-19 18:10] djackson-saa commented on #153
Thanks for the quick response - much appreciated.  I increased my timeout to 60 seconds and it still timed out. I am running the microservice inside of an OpenShift container. I also replaced the URL with https://efdsearch.senate.gov/search/home/ to see if that would make a difference but it timed out as well.

We have several python web applications that create PDFs using pdfkit and wkhtmltopdf.

[2019-03-19 18:28] MrSaints commented on #153
Okay, that sounds quite suspect. It may be a configuration issue, e.g. not enough resources or privilege. I am certainly able to convert said URLs locally using the latest stable tagged release.

That sounds sensible. If it is as simple as that, perhaps you can get away with a FaaS like I mentioned earlier. Example: https://us-central1-courtsite-terraform.cloudfunctions.net/pdfByURL?url=http://blo

[2019-03-19 18:36] djackson-saa commented on #153
Let me see if I can chat with our OpenShift administrators to see if there is something I am missing. BTW - I created the container from the arachnysdocker/athenapdf-service  image from docker.

Unfortunately we are not allowed to use anything in the cloud related at the moment.  I know, I know - believe me we are fighting the good fight on that front.

That being said, I think it will boil down t

[2019-03-19 18:40] MrSaints commented on #153
Ah I see, fair enough. Best of luck 😁

[2019-03-19 18:42] djackson-saa commented on #153
Sorry to keep bothering you but does he microservice require any special permissions in order to convert URLs to PDFs?  I want to be sure I give our admins the right information

[2019-03-19 18:59] MrSaints commented on #153
If running in a standard Docker set-up, it does not really need any additional flags. I would double check the resource constraints placed on it, and the logs of the container to get an idea of what is happening inside.

[2019-03-20 12:43] djackson-saa commented on #153
Last question.... Does the service create the PDF locally in the docker container or does it send the request to an external service?

[2019-03-20 13:28] MrSaints commented on #153
The service (`weaver`) creates the PDF within the container by invoking the CLI tool (`athenapdf`). External requests are only made to download the target HTML, and to upload to S3 if the option for this is enabled. It might be worth checking if the service is able to talk to the _internet_.

If you have any more Qs, feel free to reach out to me directly on os@fyianlai.com. Happy to help.

[2019-03-20 13:30] MrSaints commented on #185
Just an update, I had a go at this a while ago, and it doesn't appear to be so straightforward. The installed font would not be picked up, and there appears to be an upstream bug (Chromium) that affects this as well.

[2019-03-20 13:33] MrSaints commented on #184
The original rationale for having an authentication key was to prevent accidental public / unprotected exposure of the service. But in hindsight, this was probably not the most brilliant solution as we set a default key which many will probably leave unchanged. I'd be up for removing it entirely in a newer / major version with a disclaimer that no authentication is shipped. With the increasing pop

[2019-03-20 13:35] MrSaints commented on #182
Thanks for your suggestion. Apologies for the late response. This is very much feasible, and I think we should be moving to using https://github.com/google/go-cloud to achieve this. Not sure if it is worth refactoring the current v2 to support it though.

[2019-03-25 13:46] fleboulch opened #190 "[WEAVER] Can we pass an HTML as a string instead of a file in request body?"
I'm trying to pass a string (e.g.: "<html>Hello World</html>") instead of a file in the request body when using the microservice?

**CURL request with a file (working fine)**
[code]

**CURL request with string content (bad request)**
[code]

My `content-type` header is maybe misconfigured

[2019-03-26 10:27] sanohin commented on #190
duplicate of #180

[2019-03-26 10:27] #190 closed

[2019-03-26 20:46] set-webmaster commented on #42
Is there any documentation about V3 and can it be used or is it still considered as too much a "beta" version?

[2019-03-26 20:54] sanohin commented on #42
Hey, guys, unfortunately, we are not working on v3 at the moment, and we still support the 2nd version.

[2019-03-26 21:01] sanohin commented on #42
As a workaround for the 2nd version you can use `table` as the layout of a PDF file where `tfoot` is the header, `tbody` is the content (pages content) and `tfoot` is the footer. Chrome would render `tfoot` and `tfoot` on every single page with `tbody` content.

[2019-03-27 11:40] set-webmaster commented on #42
I did something similar (following this [recommendation ](https://medium.com/@Idan_Co/the-ultimate-print-html-template-with-header-footer-568f415f6d2a). Sadly, it doesn't work when rendering through Athenapdf, it works though when printing directly from chrome, which I find weird...

[2019-03-27 12:12] oliveiracdz commented on #42
Hi, everyone!

@set-webmaster, I think its because of Electron/Chrome version of AthenaPDF.
@sanohin, there is any intention to update the Electron version soon?

Thanks!

[2019-03-28 12:19] sanohin commented on #42
Sure, we should upgrade electron from time to time, but we also need to be sure that there were no significant changes to the API.
There is a PR #187, but I didn't have time to double check that everything works as expected.

@oliveiracdz @set-webmaster  We use Athena for adding headers across all the pages, and we use tables for that. We put all the content to `tbody` and the header goes to `thea

[2019-03-28 12:36] z372183629 opened #191 "How to use font file(such as ".ttf") in microservice"
The page I need to convert contains PingFang font, which is normal in OSX system, but it fails in Linux.

I try to copy a font file (such as PingFang.ttf) into ``/usr/share/fonts/myfonts/``, and  map this directory to container's ``/usr/share/fonts``.

``fc-list`` command show that the font has been installed.But it didn't work.it still use Linux default font.

[2019-03-28 12:58] set-webmaster commented on #42
@sanohin I'm trying to create a repro but there's another problem happening, the page doesn't seem to render completely and doesn't support page break... is that expected?

(Maybe these new problems are due to the fact that I'm using JSFiddle to generate the repro)

You can find it [here ](https://jsfiddle.net/b7pahv5t/2/), use the "print this page" button and you will see multiple pages, run the

[2019-03-28 13:20] sanohin commented on #42
Here is a snippet that I tried and it worked:
https://gist.github.com/sanohin/d8b8e7eb5367d5332a448b773c9f0902

[2019-03-28 13:21] set-webmaster commented on #42
There might be some css conflicts, I will investigate on my side and report back when I'll have found if there's something that relates to Athena or not. Thanks for your time :)

[2019-03-28 18:43] set-webmaster commented on #42
Ok I think I have found the culprit, in the following snippet:
[code]

[2019-03-28 19:32] set-webmaster commented on #180
@MrSaints Could you point me to where I could find examples of generating a pdf from a POST request?

I can't figure out how to perform the request so that it works, it keeps saying "Invalid file provided"

Thanks in advance!

[2019-03-29 09:26] z372183629 commented on #191
well, I know how to fix it.
mapping ``/usr/share/fonts`` to  container's ``/usr/share/fonts``.
this is my command:
```docker run -v /usr/share/fonts:/usr/share/fonts  -p 8080:8080 -i --rm arachnysdocker/athenapdf-service```

[2019-03-29 09:26] #191 closed

[2019-04-01 15:46] liviuignat opened #192 "Pass options for REST request"
Hi there,

Is it possible to pass options similar to CLI to REST requests (Eg margins)?

Also, is there any plan to build other options. Eg:

- Header / footer
- Paging (could be part of footer)

Thanks,

[2019-04-30 14:28] thiagonuic commented on #42
@set-webmaster I followed the link you posted and it worked well here. Thanks for sharing! :)

One thing that I added to prevent strange page breaks in some cases was the style `page-break-inside: avoid;`

[2019-05-08 00:49] trajano opened #194 "Swagger or OpenAPI doc for the service"
Can we have a OpenAPI doc or swagger.yml file that documents the API?  Possibly use redoc to create the apidocs

[2019-05-09 18:13] slochower opened #195 "How can I debug "The renderer process has crashed"?"
I'm consistently getting `The renderer process has crashed` locally and on Travis. I've tried version `2.16.0` and `latest` via Docker on macOS and linux hosts. I've tried increasing the delay until `20000`. None of these things have prevented the renderer from crashing.

I think this may be related to #152 or #131 but I'm not sure how to debug or get further information about what's going on. Is

[2019-05-09 18:59] slochower commented on #195
This is reproducible with the live demo on https://github.com/arachnys/athenapdf.

[2019-05-09 20:20] slochower commented on #195
Running with the `v3` beta and `-D` flag, the last few bits of output I see are:

[code]

[2019-05-09 21:00] dhimmel commented on #195
For debugging purposes, you should be able to get this replicate this error by pointing athena at https://slochower.github.io/smirnoff-host-guest-manuscript/v/5c9b6058fb44adba5c97a646ebccc801d566393e/. See https://github.com/manubot/rootstock/pull/210#issuecomment-491064216.

[2019-05-09 21:06] dhimmel commented on #195
@slochower given that Athena was properly converting the document prior to this change, we should be able to narrow down exactly what's breaking it. Sounds like it's struggling with the new PNG?

[2019-05-09 21:09] slochower commented on #195
@dhimmel  That's right. There are a bunch of PNGs now -- about 27, but they are mostly <1 MB (exept for one image at 3.7 MB), so nothing terribly huge. The only other guesses are the number of annotations with hypothesis, but I believe I have eliminated that by building the HTML without any of the plugins.

[2019-05-09 21:16] slochower commented on #195
I manually removed more than half of the images in the HTML by deleting the `<figure>` stanzas and _I did_ finally get a build. I first tried deleting about ~10 images and still got the renderer to crash. I then deleted a few more, and the renderer still crashed. Finally, I deleted almost all of the images and the build completed. I also deleted a table (by accident). Could this be a memory issue

[2019-05-09 21:27] slochower commented on #195
I have confirmed adding `--shm-size="2g"` fixes things. Previously `docker stats` would report memory usage of ~250 MB out of the 2 GB allocated to `docker`. With the new command, `docker stats` reports memory usage around ~700 MB. I think this is the best explanation of the underlying cause: https://github.com/electron/electron/issues/9093

[2019-05-09 21:29] #195 closed

[2019-05-09 21:33] dhimmel commented on #195
Nice debugging @slochower. Where is the 2 GB memory allocation to Docker coming from? Do you want to create a manubot/rootstock PR to specify `--shm-size`? Seems like we could get away with bigger on [Travis](https://docs.travis-ci.com/user/reference/overview/).

[2019-05-09 21:43] slochower commented on #195
In my case, I think the default macOS `docker` memory allocation is 2 GB, but the shared memory `shm` part is much smaller (default maybe ~64 MB, depending on how outdated my info is). I'm not clear on the benefits of `docker run --shm-size="2g"` versus mounting `/dev/shm`. I do know the former works; haven't tested the latter.

[2019-05-09 22:05] MrSaints commented on #195
That's interesting. Because I'd assume https://github.com/arachnys/athenapdf/pull/186 would _fix it_, but as I am no longer with the team, I am unsure if it was tested. That said, we have had multiple similar reports in the past: https://github.com/arachnys/athenapdf/issues/95#issuecomment-291099432, and in my experience, mounting `/dev/shm` often results in less crashes.

I'm not sure what your u

[2019-05-27 06:52] piotrekkr opened #196 "[Weaver] Can I restart weaver container without affecting ongoing conversion?"
I have question regarding weaver.

I wrote some python script to check if sample conversion (hello world html, one page) works on weaver containers and after few days of running it every few minutes weaver containers take about 2-2.5GiB of memory:

[code]
Most of the time containers are idle (no cpu usage). I could set memory limits but sometimes there is a need to use so much ram for big file con

[2019-06-03 18:15] piotrekkr commented on #196
Nevermind. Weaver releases some memory when host memory is getting low. Like from 30GB free to 4GB and in next bigger workload release some memory and it's back to like 30GB free. It seems that there is no need to restart containers when they are getting big.

[2019-06-03 18:15] #196 closed

[2019-06-12 12:28] bersling commented on #113
How can I use this flag when I'm using athenapdf as a microservice? More generally, how can I pass options to an athena microservice?

I'm starting the microservice like this: `docker run -p 8080:8080 --rm arachnysdocker/athenapdf-service`.  Do I need to pass this flag here? Or do I need to pass the flag during the request, i.e. somewhere here `curl http://localhost:8080/convert\\?auth\\=arachnys-

[2019-06-12 15:58] POD666 commented on #113
Try this:
`curl http://localhost:8080/convert\\?auth\\=arachnys-weaver\\&waitForStatus&url\\=${url} > ${outPath}`

[2019-06-19 08:47] teohhanhui commented on #77
If athenapdf is a "drop-in replacement" for wkhtmltopdf, it means it should have CLI compatibility, such that you can simply replace the `wkhtmltopdf` binary with the `athenapdf` binary, and things should just work. But that's clearly not the case. So the description is misleading.

[2019-06-24 17:56] dhimmel commented on #16
Auto-generated bookmarks from headings would be a great feature for athena. If it is a helpful reference, [WeasyPrint currently supports](https://weasyprint.readthedocs.io/en/stable/features.html#bookmarks) this feature:

[2019-07-12 02:27] lim-code commented on #150
I'm having a similar issue, sometimes none of the styling appears, sometimes times a single banner is not rendered, but most of the time is completely fine. Did you end up figuring out what the issue was?

[2019-07-12 07:30] MrSaints commented on #150
@lim-code I'd run the CLI in debug mode on your local machine to see how things generally render.

[2019-07-13 13:12] SakyaVarro opened #197 "The generated PDF has only one page"
The generated PDF only has one page, which the origin website has several pages.

screenshot of the generated PDF:
![image](https://user-images.githubusercontent.com/24671424/61171989-7ad3b500-a5b1-11e9-9f7b-710e6d851456.png)

screenshot of the website:
![image](https://user-images.githubusercontent.com/24671424/61172045-03525580-a5b2-11e9-8de2-df742f561488.png)

[http://sakyavarro.cn/resume](http

[2019-07-13 15:34] MrSaints commented on #197
The behaviour is expected. Your website was designed with a `div` set to match exactly the height of the screen, and to overflow. I'd suggest applying some print specific styles to remove the `height: 100%`, and any overflow.

[2019-07-13 15:34] #197 closed

[2019-07-15 06:58] lim-code commented on #150
Thanks for the quick response. Possibly a config issue on my end but running the CLI in debug mode is making the conversion time out. I've tried increasing the worker timeout but still same results.

Any idea what might be causing this?

It's possible the initial issue is concurrency related as there are two of the essentially the same pdf generated in succession, one comes out fine and the other

[2019-07-15 08:04] MrSaints commented on #150
It sounds like you may be running it in a headless environment. You'll need to run it outside of Docker (unless you can mount your display), in an environment (e.g. your local machine) that's able to show graphical user interfaces. Alternatively, try opening your page on Chrome, and printing it. How it shows up in the print preview should be fairly indicative of how it shows up as a PDF (minus han

[2019-07-16 05:06] lim-code commented on #150
Ah that makes sense, we are running it headless.

I discovered when we're deploying the athena container we're not actually passing in a few of the weaver env variables, only the athena_cmd. Was just wondering if the defaults are set to the following (taken from config.go)?

WEAVER_MAX_WORKERS=10
WEAVER_MAX_CONVERSION_QUEUE=50
WEAVER_WORKER_TIMEOUT=90
WEAVER_CONVERSION_FALLBACK=false

[2019-07-16 07:51] MrSaints commented on #150
@lim-code The defaults should work out of the box :) If you have a HTML or a live URL of your page somewhere, I could perhaps look into what's wrong.

[2019-07-23 04:55] lampnick opened #198 "(athenapdf:14640): Gtk-WARNING **: cannot open display: :99"
version:v2.13.0
env: run in k8s
error message:exit status 1 :
(athenapdf:14640): Gtk-WARNING **: cannot open display: :99
like this issue: https://github.com/arachnys/athenapdf/issues/161
but the issue say this problem has been solved.
What is the reason for this problem?

[2019-08-05 15:27] mirkea opened #199 "Is there a way to remove the /Resources line?"
How can we remove the `/Resources` line from the generated PDF? It prevents us to validate our PDFs with another 3rd party tool and [the line itself is apparently deprecated](https://forums.adobe.com/thread/1683856)

[2019-08-07 13:44] kenbolton commented on #123
For those working with the Python `requests` library (including future me) and attempting to POST:

[code]

The `None`

[2019-09-25 08:51] barosch78 commented on #192
Hello,
any news here? I need my pdfs in A3 landscape mode and i only found a solution via the CLI interface.

Greetings
Leo

[2019-10-16 07:37] jamesefhawkins opened #201 "The public website isn't working"
http://www.athenapdf.com/ seems to be down.

[2019-10-16 16:04] jotarr opened #202 "Help me please (renderer process has crashed samsung tv)"
I have a tv samsung UHD, with model code: UN40MU6103GXPE, version FB02, for a few months when I use the web browser and watch videos on youtube, within a few seconds of starting to watch the video, the screen goes blank and the message "renderer process has c rashed" and it reloads my website, it used to happen 1 or 2 times and then I could watch my video, but now it happens at every moment, makin

[2019-10-16 16:39] hazzadous commented on #201
Thanks @jamesefhawkins for pointing out, I'll look into this. For the time being I've removed the link from github.

[2019-10-29 10:31] Vinq-it-JV commented on #201
Sorry, still not working, live demo link in github.

[2019-11-01 13:45] aschilling opened #204 "ARM docker image or instructions on how to compile"
Hi everybody,

I am a very big fan of athenapdf, it generates amazing pdf when other renders crash. However, I would really love to get athenapdf working on my raspberryPi. Is there any way how you could provide a docker image which would run on ARM processors. Alternatively, I would really appreciate if you could give me some instructions on how to compile athenapdf on ARM.

Best
Andreas

[2020-01-28 08:20] nitinthewiz opened #205 "PDF generation timed out when running in interactive mode"
Hi,

This is an issue for athenapdf v2.16.0

I've been running the CLI rather successfully, but am trying to automate it in nodejs.

The simplest way would be to run the entire command using something like shelljs -
[code]

But I wanted to try out dockerode, which interacts with the Docker Remote API. The benefit is that I can check if athenapdf image exists and download it if it isn't before tryi

[2020-01-28 08:47] nitinthewiz commented on #205
Further research - I did a hacky thing - I went into the container using interactive, then installed node, got the cli code from git, installed the dependencies using 'npm i'

and ran -
[code]
and it worked!
[code]

Clearly, this tells me that either the build process, or the way the docker image is setup, is interfering with the interactive running of the command.

[2020-01-31 10:10] sxiii commented on #201
End of January 2020: website is still down

[2020-01-31 10:14] sxiii commented on #132
I would also like this functionality

What I'm using currently is pdf2img from node, these are components:
* nodejs
* npm (to install pdf2img)
* graphicsmagick
* pdf2img

And then just
[code]

But the problem this solution requires approx. 3 seconds per page for the conversion (which is still better then nothing)

[2020-01-31 12:39] MrSaints commented on #132
@sxiii There is a much simpler solution that doesn't require a full blown microservice (https://github.com/Courtsite/shuttlepdf/blob/master/index.js). If you modify `page.pdf(..)` to `screenshot()` you can essentially capture a screenshot (just make sure to update the `Content-Type` as well) ;)

[2020-01-31 15:27] sxiii opened #206 "Is it possible to compile athenapdf statically?"
The "quest" I have is the linux distro I use; it's quite special (don't have any package managers and stuff like that; and docker isn't running there either!); and we are allowed to use only statically compiled packages. Is there a way to compile athenapdf or at least chromium as a fully static package? I've tried with electron-packager but it's still dynamically linked... Thanks.

[2020-02-02 18:13] sxiii commented on #132
Sorry @MrSaints doesen't fully got your point. Do you mean switching from athenapdf to shuttlepdf or you mean take some part of the shuttlepdf project? If you're speaking about option # 2, then I don't fully understand what do you mean by "modify page.pdf" (where's that?) to screenshot() (what is this function?) and where is Content-Type? Sorry if my questions looks stupid :D My goal was just to c

[2020-02-02 18:40] MrSaints commented on #132
@sxiii I was trying to give you some options :)

I think this project is great for long-running conversions, and for falling back to CloudConvert in cases of failures. It's also great if you do not want cold starts (i.e. fast response times), which most lambda / serverless solutions like the one I linked suffers from.

That said, it is a bit dated, both technologically, and architecturally. For ex

[2020-02-03 08:26] sxiii commented on #132
@MrSaints ahh, cool. Now I got it. I totally prefer less bulkiness! Can you help me with [running shuttlepdf](https://github.com/Courtsite/shuttlepdf/blob/master/index.js)? As I don't want it on google cloud; but when I'm trying to do "node index.js" just nothing happens... Thanks!

[2020-02-16 08:25] adebali commented on #94
`pdftk` breaks all links though.

I wonder if anyone has a workaround that doesn't break the links.

[2020-04-09 19:25] RNogales94 commented on #201
April 2020: website is still down

[2020-04-21 13:57] duncan-bayne commented on #100
Ended up sticking with wkhtmltopdf; please feel free to close this issue if you'd like.

[2020-04-23 08:06] #201 closed

[2020-05-26 20:43] tinohager opened #207 "Readme example microservice link broken"
the link is broken on line 90 -> http://blog.arachnys.com/

Inline conversion: http://<docker-address>:8080/convert?auth=arachnys-weaver&url=http://blog.arachnys.com/

[2020-08-06 08:36] thaoms commented on #91
Is this supported by now?

[2020-09-30 08:18] ozonni opened #209 "/dev/null: too many open files"
We are getting `error starting chrome process: open /dev/null: too many open files` error from time to time and the process crashes. Any idea what could be the cause?

[2020-10-08 16:01] kiddick opened #210 "Run with localhost (django)"
Hi! I am trying to run athenapdf with localhost pdf on mac. It is converting to pdf but css and images from localhost are missing. The way I run converting:

`docker run --rm -v $(pwd):/converted/ arachnysdocker/athenapdf athenapdf http://host.docker.internal:8000/pdf/my_html/ test.pdf`

[2020-11-02 10:33] WinniX commented on #198
Hi there! We have the same issue using v2.16.0. Do you have any updates? Thanks in advance!

[2020-11-02 11:29] MrSaints commented on #198
Hey @WinniX, this project is a bit dated, and unmaintained. This seems to be a good successor: https://thecodingmachine.github.io/gotenberg/. Or, if you have access to Cloud Functions / Lambda, check out https://github.com/Courtsite/shuttlepdf.

[2020-11-02 11:57] lampnick commented on #198
I had wrote a html convert to pdf/image project, have a try? [https://github.com/lampnick/doctron](https://github.com/lampnick/doctron)

[2020-11-02 12:07] lampnick opened #212 "The athenapdf is no longer maintenance, you can try doctron."
The athenapdf is no longer maintenance, you can try doctron. [https://github.com/lampnick/doctron](https://github.com/lampnick/doctron)
Doctron is a sample,fast,high quality document convert tool.Supply html convert to pdf, html convert to image(like jpeg,png), add watermarks to pdf, convert pdf to images etc.

[2020-11-02 12:08] lampnick commented on #210
@kiddick The athenapdf is no longer maintenance, you can try doctron. https://github.com/lampnick/doctron
Doctron is a sample,fast,high quality document convert tool.Supply html convert to pdf, html convert to image(like jpeg,png), add watermarks to pdf, convert pdf to images etc.

[2020-11-02 12:09] lampnick commented on #206
@sxiii The athenapdf is no longer maintenance, you can try doctron. https://github.com/lampnick/doctron
Doctron is a sample,fast,high quality document convert tool.Supply html convert to pdf, html convert to image(like jpeg,png), add watermarks to pdf, convert pdf to images etc.

[2020-11-02 12:10] lampnick commented on #202
@jotarr The athenapdf is no longer maintenance, you can try doctron. https://github.com/lampnick/doctron
Doctron is a sample,fast,high quality document convert tool.Supply html convert to pdf, html convert to image(like jpeg,png), add watermarks to pdf, convert pdf to images etc.

[2020-11-02 12:11] lampnick commented on #153
The athenapdf is no longer maintenance, you can try doctron. https://github.com/lampnick/doctron
Doctron is a sample,fast,high quality document convert tool.Supply html convert to pdf, html convert to image(like jpeg,png), add watermarks to pdf, convert pdf to images etc.

[2020-11-02 12:13] lampnick commented on #42
Doctron is support. The athenapdf is no longer maintenance, you can try doctron. https://github.com/lampnick/doctron
Doctron is a sample,fast,high quality document convert tool.Supply html convert to pdf, html convert to image(like jpeg,png), add watermarks to pdf, convert pdf to images etc.

[2020-11-02 12:46] MrSaints commented on #212
Hey @lampnick, I'd appreciate it if you didn't spam our repository advertising your project without contacting us first. At most, you could have kept it to a single post (this) rather than commenting on every single issue. Thanks.

[2020-11-02 12:46] #212 closed

[2020-11-02 15:17] lampnick commented on #212
@MrSaints Okay. My fault.I just think you are no longer maintenance.

[2021-03-15 12:18] topgun100 opened #214 "Building Docker Image for v2.7.1"
We have been using this image very successfully for some years and have accumulated a lot of HTML templates that target this specific docker image.  The PDFs are legal documents and it is critical that the rendering does not change.  Now has come a time that we are forced to update the base image to Debian 10 but I'm struggling to produce an identical layout.

Do the creators of the repo recall th

[2021-03-24 20:36] lexicalunit opened #215 "Is there any API documentation?"
I'm curious about evaluating `weaver` for our use but I don't see any API documentation. How do I find out what endpoints there are? Basic things like that. Do I just need to read the Go code directly to get that kind of information?

[2021-03-24 21:07] MrSaints commented on #215
Hey there, this is roughly documented in https://github.com/arachnys/athenapdf/blob/dc33a8ac7f06ed6054f847aff291e489f981ec9a/README.md#microservice

See also https://github.com/arachnys/athenapdf/issues/180

Though it is worth mentioning this project is no longer actively maintained. I would suggest using https://github.com/thecodingmachine/gotenberg which takes some inspiration from this project,

[2021-03-25 20:40] #215 closed

[2021-04-26 11:00] daniesy commented on #210
I managed to run it like this
`docker run --network="host" --rm -v $(pwd):/converted/ arachnysdocker/athenapdf athenapdf http://docker.for.mac.host.internal:3000`

[2021-04-30 19:45] ahgilbert opened #216 "Certain images cause athenapdf to crash"
We are using athenapdf to render documents that include a logo, provided to us by a client. Some of these images cause AthenaPDF to crash with the message:

_v2_: `The renderer process has crashed.`
_v3_: `athenapdf: error: nil response received`

To reproduce, render the contents of [this gist](https://gist.github.com/ahgilbert/e2bbb4c658ca22ce9a98c15128f68503) through athenapdf version 2 or 3.

[2021-05-31 09:01] mingshenggan commented on #198
Leaving message here, hope it helps future folks

Try `GIN_MODE=1` to get more information.
For us, we allocated insufficient memory and thus it failed.

[2021-06-18 16:59] annsherinabraham commented on #179
@mthomasuk I'm coming across the same problem and wondered what the fix was for this issue.

[2021-07-23 09:08] daniesy opened #217 "The weaver stops after about 1 minute"
No matter what configuration I try, the weaver stops after about 1 minute
[code]
Here is the run command:

[code]

Also the docker-config:

    WEAVER_ATHENA_CMD: athenapdf -S -M none -T 600 --debug --no-cache
    WEAVER_CONVERSION_FALLBACK: false
    WEAVER_MAX_CONVERSION_QUEUE: 50
    WEAVER_MAX_WORKERS: 10
    WEAVER_WORKER_TIMEOUT: 600

Do you know how I can fix this?

[2021-07-23 16:04] #217 closed

[2021-08-03 04:43] qatadamts opened #218 "issue-1834 dev/shm issue"
chrome crashes in docker, more info: https://github.com/GoogleChrome/puppeteer/issues/1834

app.commandLine.appendArgument("disable-dev-shm-usage"); does not work on aws lambda.

please add
 app.commandLine.appendSwitch("disable-dev-shm-usage"); to fix the problem.

getting following error without the fix
Failed to load: -12 ERR_INSUFFICIENT_RESOURCES (file:///tmp/e1af360fa72245278068eb411aeb7963.

[2021-10-13 10:56] mearazahemad-crescentek opened #219 "max-height is not working"
If image is longer, then it is going in second page of the PDF. I want to load it in first page. how can i do that ?

[2021-11-17 02:39] b-jam opened #220 "suggesting --security-opt seccomp:unconfined is irresponsible"
[Here it is recommended to disable docker seccomp in order to run athenapdf](https://github.com/arachnys/athenapdf/blob/master/cli/docs/quick-start.md).

According to https://docs.docker.com/engine/security/seccomp/, `name_to_handle_at` syscall has a good reason to be blocked, that is  - _Cause of an old container breakout_

Rather than suggest users to allow historic vulnerabilities, it makes sen

[2021-11-27 14:40] cedws commented on #220
Container escapes are a dime a dozen anyway. It should not be used as a blast door for running untrusted or insecure software.

[2021-11-27 14:42] cedws commented on #204
I'm also interested in this. ARM is growing in popularity, would be good to to have an image which supports it.

[2021-11-27 14:57] kaiomagalhaes opened #221 "is this lib still being maintained?"
At my company, we made extensive use of this lib and we would like to know if it is still being maintained to know if we should continue using it or creating a fork

[2022-07-26 17:39] viu-ind opened #222 "How to pass Html ?"
Can we pass direct Html rather than url in GET method to convert html to pdf

[2022-08-10 11:40] MrSaints commented on #221
_(I recognise this is a bit of a late reply, but figured others might be looking for some answers, so leaving this here for others)_

I'm one of the original maintainers of this project, and it is most definitely unmaintained. Sorry for the late reply as I had stopped getting notifications.

I wouldn't recommend using this because its dependencies are really outdated, and it is relying on Electron

[2022-09-07 20:38] cedws commented on #221
@MrSaints Hey, thanks for the reply. Would you consider archiving the repo or adding a notice to the README? Happy to send a PR for the latter.

[2022-11-15 09:19] crocodile2u commented on #194
https://gitlab.com/crocodile2u/athenapdf-openapi - There you can find **openapi.yml**, which I also tested by generating a PHP client: https://gitlab.com/crocodile2u/athenapdf-client. I can probably file a PR in this repo, but it looks like it's not being updated any more.